<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장바구니 목록</title>
</head>
<body>
    <div>
        <h1>장바구니 목록</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>전체 <span th:text="${cartList.size()}"></span>개</th>
                        <th>
                            <input type="checkbox" class="allCheck">
                        </th>
                        <th>상품정보</th>
                        <th>수량</th>
                        <th>주문금액</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cart:${cartList}">
                        <td>1</td>
                        <td><input type="checkbox" class="check"></td>
                        <td th:text="${cart.getOptionProduct().getOpname()}"></td>
                        <td>
                            <input th:value="${cart.cnt}" id="cntText">
                            <button type="button" id="updateBtn">변경</button>
                        </td>
                        <td th:text="${cart.getOptionProduct().getPrice()*cart.cnt}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div>총 주문금액: <strong th:text="${totalPrice}"></strong> 원</div>
            <div>총 주문수량: <strong th:text="${totalCnt}"></strong> 개</div>
            <button type="button" class="orderBtn">주문하기</button>
            <button type="button" class="delOneBtn">선택삭제</button>
            <a class="btn btn-primary" role="button" th:href="@{'deleteAll.do'}" >전체삭제</a>
        </div>
    </div>
</body>
</html>

<script>
    const allCheck = document.querySelector(".allCheck");
    const list = document.querySelectorAll(".check");

    allCheck.onclick = () => {
        if (allCheck.checked) {
            for (let i=0; i<list.length; i++) {
                list[i].checked = true;
            }
        } else {
            for (let j=0; j<list.length; j++) {
                list[j].checked = false;
            }
        }
    }

    const delOneBtn = document.querySelector(".delOneBtn");
    delOneBtn.onclick = () => {
        var arr = new Array();
        if (list.length == 0) {
            alert("삭제할 항목을 선택해주세요.");
            return false;
        } else {
            if (confirm("정말로 삭제하시겠습니까?")) {
                const url = "deleteOne";
                const arr = new Array(list.length);
                document.querySelectorAll(".check").forEach(function (v, i) {
                    arr[i] = v.value;
                });

                const form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/deleteOne');

                const input1 = document.createElement('input');
                input1.setAttribute("type", "hidden");
                input1.setAttribute("name", "cartIds");
                input1.setAttribute("value", arr);

                form.appendChild(input1);
                console.log(form);
                document.body.appendChild(form);
                form.submit();
            }
        }
    }
</script>