<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장바구니 목록</title>
</head>
<body>
    <div>
        <h1>장바구니 목록</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>전체 <span th:text="${cartList.size()}"></span>개</th>
                        <th>
                            <div class="checkAll">
                                <input type="checkbox" name="checkAll" id="checkAll">
                                <label for="checkAll"></label>
                                <script>
                                    $("checkAll").click(function () {
                                        var check = $("#checkAll").prop("checked");
                                        if (check) {
                                            $(".chBox").prop("checked", true);
                                        } else {
                                            $(".chBox").prop("checked", false);
                                        }
                                    });
                                </script>
                            </div>
                        </th>
                        <th>상품정보</th>
                        <th>수량</th>
                        <th>주문금액</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cart:${cartList}">
                        <td>1</td>
                        <td>
                            <div class="checkBox">
                                <input type="checkbox" name="chBox" class="chBox" data-cartId="${cart.cartId}">
                                <script>
                                    $(".chBox").click(function () {
                                        $("#checkAll").prop("checked", false);
                                    });
                                </script>
                            </div>
                        </td>
                        <td th:text="${cart.optionCode}"></td>
                        <td th:text="${cart.cnt}"></td>
                        <td>가격은 어떻게...</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="delOneBtn">
                <button type="button" class="deleteOne_btn">선택삭제</button>
                <script>
                    $(".deleteOne_btn").click(function () {
                        var confirm_val = confirm("정말 삭제하시겠습니까?");
                        if (confirm_val) {
                            var checkArr = new Array();
                            $("input[class='chBox']:checked").each(function () {
                                checkArr.push($(this).attr("data-cartId"));
                            });

                        }
                    })
                </script>
            </div>
            <div class="delAllBtn">
                <button type="button" class="deleteAll_btn">전체삭제</button>
            </div>
        </div>
    </div>
</body>
</html>