<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/mypageLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="myPageContent">
<h2>유저 환불 목록</h2>
<h3>환불 내역</h3>
<span class="currentPeriod" th:text="${param.period}" style="display: none"></span>

<ul>
    <!-- 기간 선택 조회-->
    <li><a class="afterParam" href="javascript:void(0)" data-val="7">최근 7일 기록 보기(기본)</a></li>
    <li><a class="afterParam" href="javascript:void(0)" data-val="15">최근 15일 기록 보기</a></li>
    <li><a class="afterParam" href="javascript:void(0)" data-val="30">최근 1개월 기록 보기</a></li>
    <li><a class="afterParam" href="javascript:void(0)" data-val="90">최근 3개월 기록 보기</a></li>
    <li><a class="afterParam" href="javascript:void(0)" data-val="365">최근 1년 기록 보기</a></li>
    <!-- 기간 선택 조회 end-->
    <li>
        <!-- 기간 검색 조회-->
        <form  th:action="@{ '' }" method="get">
            <input type="date" name="startDate" id="startDate" required> ~
            <input type="date" name="endDate" id="endDate" required>
            <button type="submit">조회</button>
        </form>
        <!-- 기간 검색 조회 end-->
    </li>
</ul>
<ul>
    <!--공통 코드별(진행:rf0,rf2,rf3,rf4,rf5,rf6 / 완료:rf1,rf7,rf8) 선택 조회-->
    <li><a class="afterCode" href="javascript:void(0)"  data-val="all">전체 환불 내역</a></li>
    <li><a class="afterCode" href="javascript:void(0)" data-val="notEnd">환불 진행 내역</a></li>
    <li><a class="afterCode" href="javascript:void(0)" data-val="end">환불 완료 내역</a></li>
    <!--공통 코드별(진행:rf0,rf2,rf3,rf4,rf5,rf6 / 완료:rf1,rf7,rf8) 선택 조회 end-->
    <li>(총 환불 신청 내역 <th:block th:text="${userRefundCount}"></th:block> 건)</li>
</ul>


<table>
    <th:block th:if="${refundMsg != null}">
        <span id="msg" th:data-msg="${refundMsg}"></span>
        <div class="alert alert-primary" role="alert" th:text="${refundMsg}"></div>
    </th:block>
    <thead>
        <tr>
            <th>날짜</th>
            <th>주문번호</th>
            <th>상품명</th>
            <th>환불 금액</th>
            <th>처리 현황</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="refund:${refundList}" class="hrefRow" th:data-refund="${refund.refundId}">
            <td th:text="${#calendars.format(refund.regDate,'yyyy-MM-dd')}"></td>
            <td th:text="${refund.orderId}"></td>
            <td th:text="${refund.orderDetailDto.optionName}"></td>
            <td th:text="${refund.cancelAmount}"></td>
            <td th:text="${rfDetList[#strings.substring(refund.rfDet,2)].detName}"></td>
        </tr>
    </tbody>
</table>
<th:block th:if="${userRefundCount == 0}">
    <h3>환불 내역이 없습니다.</h3>
</th:block>

<!--pagination-->
<nav aria-label="Page navigation ">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:href="@{${paging.queryString}(page=${paging.prevPage})}" th:classappend="${(paging.page==1)?'disabled':''}">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" th:href="@{${paging.queryString}(page=${paging.nextPage})}" th:classappend="${(!(paging.next))?'disabled':''}">Next</a>
        </li>
    </ul>
</nav>
<!--pagination end--------------->

<th:block th:with="period=${param.period}, startDate=${param.startDate}
                    , endDate=${param.endDate}, detCode=${param.detCode}">
<script th:inline="javascript">
    let hrefRows = document.querySelectorAll(".hrefRow");
    hrefRows.forEach((row)=>{
        row.addEventListener('click',()=>{
            console.log(row)
            let targetHref = "http://"+ document.location.host + "/refund/user_yes/mypage/"+ row.dataset.refund+"/detail.do";
            console.log(targetHref)
            document.location.href =  targetHref;
        })
    })
    const afterParam = document.querySelectorAll(".afterParam");
    let period = document.querySelector(".currentPeriod").innerText;
    let url = document.location.href;
    afterParam.forEach((param)=>{
        param.addEventListener("click", ()=>{
            if (url.includes("?")){
                if(url.includes("startDate") && url.includes("endDate")){
                    url = url.replace("startDate="+[[${startDate}]]+"&endDate="+[[${endDate}]],"");
                }
                if (url.includes("period")){
                    document.location.href = url.replace("period="+[[${period}]], "period="+param.dataset.val);
                }else{
                    document.location.href = url + "&period="+param.dataset.val;
                }
            }else{
                document.location.href = document.location.href + "?period=" + param.dataset.val;
            }
        })
    })
    let afterCode = document.querySelectorAll(".afterCode");
    afterCode.forEach(code=>{
        code.addEventListener("click",()=>{
            if (url.includes("?")){
                if (url.includes("detCode")){
                    document.location.href = url.replace("detCode="+[[${detCode}]], "detCode="+code.dataset.val);
                }else{
                    document.location.href = url + "&detCode="+code.dataset.val;
                }
            }else{
                document.location.href = document.location.href + "?detCode=" + code.dataset.val;
            }
        })
    })
</script>
</th:block>
</div>
</html>