<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div>
    <div>
        <select id="myAddressList" onchange="changeAdd()">
            <option value="" disabled selected>내 배송지 목록</option>
            <th:block th:if="${addressList != null}" th:each="address:${addressList}">
                <option th:value="${address.addressId}" th:text="${address.aname}" th:data-address="${address}"></option>
            </th:block>
        </select>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addressBtn">
        새 주소 입력
    </button>

</div>

<th:block th:if="${refundMsg != null && addressId != 0}">
    <span class="add" th:text="${address.addressId}"></span>
    <div>
        <span>우편 번호</span>
        <span class="add" th:text="${address.postCode}"></span>
    </div>
    <div>
        <span>주소</span>
        <span class="add" th:text="${address.address}"></span>
    </div>
    <div>
        <span>상세 주소</span>
        <span class="add" th:text="${address.addressDetail}"></span>
    </div>
    <div>
        <span>수령인 이름</span>
        <span class="add" th:text="${address.receiverName}"></span>
    </div>
    <div>
        <span>수령인 전화번호</span>
        <span class="add" th:text="${address.receiverPhone}"></span>
    </div>
    <div>
        <span>엘리베이터 유무</span>
        <span class="add" th:text="${address.elevator}"></span>
    </div>
</th:block>
<th:block th:unless="${refundMsg != null && addressId != 0}">
    <span class="add" th:text="${order.addressId}"></span>
    <div>
        <span>우편 번호</span>
        <span class="add" th:text="${order.postCode}"></span>
    </div>
    <div>
        <span>주소</span>
        <span class="add" th:text="${order.address}"></span>
    </div>
    <div>
        <span>상세 주소</span>
        <span class="add" th:text="${order.addressDetail}"></span>
    </div>
    <div>
        <span>수령인 이름</span>
        <span class="add" th:text="${order.receiverName}"></span>
    </div>
    <div>
        <span>수령인 전화번호</span>
        <span class="add" th:text="${order.receiverPhone}" ></span>
    </div>
    <div>
        <span>엘리베이터 유무</span>
        <span class="add" th:text="${order.elevator}"></span>
    </div>
</th:block>
</html>