<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div class="d-flex justify-content-end">
        <select class="form-select-sm me-3" id="myAddressList" onchange="changeAdd()">
            <option value="" disabled selected>내 배송지 목록</option>
            <th:block th:if="${addressList != null}" th:each="address:${addressList}">
                <option th:value="${address.addressId}" th:text="${address.aname}"
                        th:data-addressid="${address.addressId}"
                        th:data-postcode="${address.postCode}"
                        th:data-address="${address.address}"
                        th:data-addressdetail="${address.addressDetail}"
                        th:data-receivername="${address.receiverName}"
                        th:data-receiverphone="${address.receiverPhone}"
                        th:data-elevator="${address.elevator}"></option>
            </th:block>
        </select>
        <button type="button" class="btn text-white" style="background-color: #B68C68;" data-bs-toggle="modal" data-bs-target="#addressBtn">
            새 주소 입력
        </button>
    </div>

</html>