<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
    <button onclick="requestPay()">결제하기</button>
    <a class="iamUid" href="javascript:void(0)">iam_uid로 결제내역 확인하기</a>
    <a class="orderId" href="javascript:void(0)">merchant_uid로 결제 내역 확인하기</a>

    <div> <!--imp_837165336842-->
        고유번호(imp_uid):
        <span class="imp_uid"></span>
    </div>
    <div>
        주문번호(merchant_uid):
        <span class="merchant_uid"></span>
    </div>
    <div>
        결제 금액:
        <span class="paid_amount"></span>
    </div>

    <script th:inline="javascript">
        // 결제 금액, 구매자 이메일, 이름
        const priceAmount = [[${order.totalPrice}]];
        const buyerMemberEmail = [[${order.userEmail}]];
        const buyerMemberName = [[${order.userName}]]
        const merchantUid = [[${order.orderId}]];
        const buyerMemberPhone = [[${order.userPhone}]];
        const buyerMemberPostCode = [[${order.postCode}]];
        const buyerMemberAddress = [[${order.address}]] + [[${order.addressDetail}]];
        console.log(priceAmount, buyerMemberPostCode, buyerMemberAddress, buyerMemberPhone)
        let testUid;
        let testmerch;

        const IMP = window.IMP;
        IMP.init("imp76481216"); // khs 아임포트 가맹점 식별코드

        function requestPay() {
            IMP.request_pay({ //param
                pg: "html5_inicis",
                pay_method: "card",
                merchant_uid: merchantUid,
                name: "스프링 부트 결제 테스트", // name에는 주문의 무엇을 넘기면 좋을까요잉,,
                amount: 100,
                buyer_email: buyerMemberEmail,
                buyer_tel: buyerMemberPhone,
                buyer_name: buyerMemberName,
                buy_addr: buyerMemberAddress,
                buyer_postcode: buyerMemberPostCode
                // 고유번호: imp_267301748796
                // 주문번호: test_1677164187113
                // 결제 금액: 100
                // 고유번호: imp_348808803544
                // 주문번호: test_1677167807335
                // 결제 금액: 100
            }, async function (resp) { // callback
                if (resp.success) {
                    alert("결제가 완료되었습니다.")
                    console.log(`응답 객체 정보: ${resp.toString()}`)
                    const impUid = document.querySelector(".imp_uid");
                    const merchantUid = document.querySelector(".merchant_uid")
                    const paidAmount = document.querySelector(".paid_amount")
                    impUid.innerText = resp.imp_uid;
                    merchantUid.innerText = resp.merchant_uid;
                    paidAmount.innerText = resp.paid_amount;
                    testUid = resp.imp_uid;
                    testmerch = resp.merchant_uid;
                } else {
                    alert("결제에 실패했습니다." + "에러코드: " + resp.errorCode + "에러 메시지:" + resp.error_msg)
                }
            });
        }

        //iam_uid로 찾기 -> 우리가 저장한 정보가 없어서 이걸로 찾기는 어려울 것 같음.
        let iamUid = document.querySelector(".iamUid");
        iamUid.addEventListener("click",()=>{
            let post = document.createElement("form");
            post.setAttribute("method","post");
            post.setAttribute("action","/verifyIamport/"+testUid);
            document.body.appendChild(post);
            post.submit();
        })
        // merchant_uid(orderId)로 찾기.
        let orderId = document.querySelector(".orderId");
        orderId.addEventListener("click",()=>{
            let post = document.createElement("form");
            post.setAttribute("method","post");
            post.setAttribute("action","/refund/user_yes/payments/"+[[${order.orderId}]]+"/paid/pay.do");
            document.body.appendChild(post);
            post.submit();
        })
    </script>
</div>
</html>