<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/mypageLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
<div>
    <h1>환불 반품 신청서</h1>
    <a href="#">엑스(주문 상세 페이지로 이동)</a>
</div>
    <th:block th:if="${refundMsg !=null}">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong th:text="${session.loginUser.uname} + 님."></strong>
            <p th:text="${refundMsg}"></p>
            <p><span th:text="${order.orderId}"></span> 번 주문에 대한 환불 요청이 <strong th:text="${refundCount}"></strong> 건 검색됩니다. </p>
            <p>해당 주문에 대한 상세 물품이 이미 환불 진행중이라면, 전체 환불은 등록되지 않습니다. </p>
            <p>환불 요청이 없음에도 등록이 진행되지 않는다면, 고객센터에 문의해주십시오.</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </th:block>

<h2>환불 반품 신청</h2>
<h3>주문 정보</h3>
<div>주문인: <span th:text="${order.userName}"></span></div>
<div>주문날짜: <span th:text="${#calendars.format(order.regDate, 'yyyy-MM-dd') }"></span></div>
<div>주문번호: <span th:text="${order.orderId}"></span></div>
<div>주문 상품명: <span th:text="${order.orderDetailList[0].optionName}+' 외 '+ ${order.orderDetailList.size() -1} + '건'"></span></div>
<div>주문 총 금액: <span th:text="${order.totalPrice}"></span></div>


<form name="refundRegister" id="refundRegister" th:action="@{'/refund/user_yes/mypage/{orderId}/register.do' (orderId = ${order.orderId})}" method="post" enctype="multipart/form-data">
    <input type="hidden" id="userId" name="userId" th:value="${order.userId}">
    <input type="hidden" id="uname" name="uname" th:value="${order.userName}">
    <input type="hidden" id="email" name="email" th:value="${order.userEmail}">
    <input type="hidden" id="phone" name="phone" th:value="${order.userPhone}">
<!--    <input type="hidden" id="orderId" name="orderId" th:value="${order.orderId}">-->
    <fieldset>
        <legend>환불 정보</legend>
        <div>
            <label for="orderDetailId">환불 대상 상품</label>
            <select name="orderDetailId" id="orderDetailId" onchange="changeOpt()" required>
                <option value="" selected disabled>환불 대상을 선택해주세요.</option>
                <th:block th:each="orderDetail : ${order.orderDetailList}">
                <option th:text="${orderDetail.optionName+'( 환불 예상 금액:'+orderDetail.totalPrice+')'}" th:value="${orderDetail.orderDetailId}" th:data-amount="${orderDetail.totalPrice}"></option>
                </th:block>
            </select>
        </div>
        <div>
            <div>신청 유형</div>
            <input type="radio" id="refundType" name="reType" value="true" required>
            <label for="refundType">환불</label>
            <input type="radio" id="exchangeType" name="reType" value="false" required>
            <label for="exchangeType">교환</label>
        </div>
        <div>
            <label for="cancelAmount">환불 금액</label>
            <span></span>
            <input type="text" id="cancelAmount" name="cancelAmount" readonly>
        </div>
        <div>
            <label>첨부 이미지
                <input type="file" name="imgFileList">
            </label>

        </div>
        <div>
            <label for="rfrDet">환불 사유 카테고리</label>
            <select name="rfrDet" id="rfrDet" required>
                <option value="" selected disabled>요청 유형을 선택해주세요.</option>
                <option value="rfr0">단순 변심</option>
                <option value="rfr1">상품 문제</option>
                <option value="rfr2">배송 문제</option>
                <option value="rfr3">기타</option>
            </select>
        </div>
        <div>
            <label for="reason">상세 환불 사유</label>
            <textarea id="reason" name="reason" placeholder="환불 사유를 작성해주세요."></textarea>
        </div>
    </fieldset>

    <fieldset>
        <legend>환불 물품 수거지 주소</legend>
        <div id="loadAddressList">
            <th:block th:include="refund/user/newAddress"></th:block>
        </div>

        <input type="hidden" id="addressId" name="addressId" class="realValue" th:value="${order.addressId}">
        <input type="hidden" id="postCode" name="postCode" class="realValue" th:value="${order.postCode}">
        <input type="hidden" id="address" name="address" class="realValue" th:value="${order.address}">
        <input type="hidden" id="addressDetail" name="addressDetail" class="realValue" th:value="${order.addressDetail}">
        <input type="hidden" id="receiverName" name="receiverName" class="realValue" th:value="${order.receiverName}">
        <input type="hidden" id="receiverPhone" name="receiverPhone" class="realValue" th:value="${order.receiverPhone}">
        <input type="hidden" id="elevator" name="elevator" class="realValue" th:value="${order.elevator}">

    </fieldset>
    <button name="refundSubmit" id="refundSubmit" form="refundRegister" type="submit">신청하기</button>
    <button name="refundReset" type="reset">초기화</button>

</form>

        <div class="modal fade" id="addressBtn" tabindex="-1" aria-labelledby="addressTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addressTitle">주소지 등록</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="javascript:void(0)" id="addressRegister" method="POST" name="addressRegister">
                            <input type="hidden" name="newCheck" value="new">
                            <div>
                                <label for="userId" th:text="${session.loginUser.userId}"></label>
                                <input type="hidden" name="userId" id="newUserId" th:value="${session.loginUser.userId}" readonly>
                            </div>
                            <div>
                                <label for="newAname">주소지 이름</label>
                                <input type="text" name="aname" id="newAname" required>
                            </div>
                            <input type="button" onclick="DaumPostcode()" value="우편번호 찾기" class="d_btn">
                            <div>
                                <label for="newPostCode">우편번호</label>
                                <input type="number" name="postCode" id="newPostCode" required>
                            </div>
                            <div>
                                <label for="newAddress">주소</label>
                                <input type="text" name="address" id="newAddress" required>
                            </div>
                            <div>
                                <label for="newAddressDetail">상세주소</label>
                                <input type="text" name="addressDetail" id="newAddressDetail" required>
                            </div>
                            <div>
                                <label for="newReceiverName">수령인 이름</label>
                                <input type="text" name="receiverName" id="newReceiverName" required>
                            </div>
                            <fieldset>
                                <label for="newReceiverPhone">수령인 전화번호</label>
                                <input type="number" id="newReceiverPhone" name="receiverPhone" maxlength="11" required>
                            </fieldset>

                            <div>
                                <label for="newHome">기본 배송지 설정 여부</label>
                                <input type="checkbox" name="home" id="newHome" value="1">
                            </div>
                            <div>
                                <label for="newElevator">엘레베이터 유무 여부</label>
                                <input type="checkbox" name="elevator" id="newElevator" value="1">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary closeBtn" data-bs-dismiss="modal">닫기</button>
                        <button type="button" form="addressRegister" name="addressSubmit" class="btn btn-primary" onclick="newAddressSubmit()">등록하기</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script th:inline="javascript">
            function changeOpt(){
                let cancelAmount = document.querySelector("#cancelAmount");
                console.log(document.getElementById("orderDetailId"));
                let changeSelect = document.getElementById("orderDetailId");
                cancelAmount.value = changeSelect.options[changeSelect.selectedIndex].dataset.amount;
                // let optVal = changeSelect.options[changeSelect.selectedIndex].value;
                // console.log("opt:"+optVal);
                // let optTxt = changeSelect.options[changeSelect.selectedIndex].text;
                // console.log("option:"+optTxt);
                // cancelAmount.value = optTxt.split(":")[1].split(")")[0];
            }

            const currentAddressList = document.querySelectorAll(".add");
            const realAddressList = document.querySelectorAll(".realValue");
            function changeAdd(){
                let addressSlt = document.getElementById("myAddressList");
                document.getElementById("addressId").value = addressSlt.options[addressSlt.selectedIndex].value;
                console.log(addressSlt.options[addressSlt.selectedIndex].dataset.address, typeof(addressSlt.options[addressSlt.selectedIndex].dataset.address) );
                let address = addressSlt.options[addressSlt.selectedIndex].dataset.address.split("(")[1].split(")")[0].split(",");
                let addressMap = new Map();
                for (let add of address){
                    let splitAdd = add.split("=");
                    console.log(splitAdd);
                    addressMap.set(splitAdd[0].trim(),splitAdd[1]);
                }
                console.log(addressMap);
                console.log(addressMap.get("addressId"));
                currentAddressList[0].value = addressMap.get("addressId");
                realAddressList[0].value = addressMap.get("addressId");
                currentAddressList[1].value = addressMap.get("postCode");
                realAddressList[1].value = addressMap.get("postCode");
                currentAddressList[2].value = addressMap.get("address");
                realAddressList[2].value = addressMap.get("address");
                currentAddressList[3].value = addressMap.get("addressDetail");
                realAddressList[3].value = addressMap.get("addressDetail");
                currentAddressList[4].value = addressMap.get("receiverName");
                realAddressList[4].value = addressMap.get("receiverName");
                currentAddressList[5].value = addressMap.get("receiverPhone");
                realAddressList[5].value = addressMap.get("receiverPhone");
                currentAddressList[6].value = addressMap.get("elevator");
                realAddressList[6].value = addressMap.get("elevator");
            }

            let refundRegister = document.forms.refundRegister;
            let newAddressRegister = document.forms.addressRegister;
            let addressReg = document.getElementById("addressRegister");


            async function newAddressSubmit(){
                newAddressRegister.addressSubmit.onsubmit=(e)=>{e.preventDefault()};

                let isOk = true;
                if (!newAddressRegister.aname.value){
                    alert("요소를 모두 입력해주세요.");
                    return false;
                }else if (!newAddressRegister.postCode.value){
                    alert("요소를 모두 입력해주세요.");
                    return false;
                }else if (!newAddressRegister.address.value){
                    alert("요소를 모두 입력해주세요.");
                    return false;
                }else if (!newAddressRegister.addressDetail.value){
                    alert("요소를 모두 입력해주세요.");
                    return false;
                }else if (!newAddressRegister.receiverName.value){
                    alert("요소를 모두 입력해주세요.");
                    return false;
                }else if (!newAddressRegister.receiverPhone.value){
                    alert("요소를 모두 입력해주세요.");
                    return false;
                }
                newAddressRegister.newCheck.value = "isNew";
                console.log("newAddress submit click!!");

                let url="/refund/user_yes/mypage/"+[[${order.orderId}]]+"/addressRegister.do";
                const form = new FormData(newAddressRegister);
                const resp = await fetch(url,{
                    method: 'POST',
                    body: form,
                    redirect: "manual"
                })
                console.log("resp.url:"+resp.url);
                const respJson = await resp.json();
                console.log("response.json:"+respJson);
                if (respJson > 0){
                    let loadAddressList = document.forms.loadAddressList;
                    await loadNewAddress();
                    let closeBtn = document.querySelector(".closeBtn");
                    closeBtn.click();
                }else{
                    alert("등록에 실패하였습니다. 잘못된 값이 없는지 확인해주세요.")
                }
            }

            async function loadNewAddress(){
                let loadForm = document.querySelector("#loadAddressList")
                let loadUrl = "/refund/user_yes/mypage/"+[[${order.orderId}]]+"/addressList.do";
                const response = await fetch(loadUrl);
                const addressHtml = await response.text();
                console.log("load$$$$");
                console.log("addressHtml"+addressHtml);
                loadForm.innerHTML = addressHtml;
            }


            function DaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        let addr = ''; // 주소 변수
                        let extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }

                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if(data.userSelectedType === 'R'){
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 조합된 참고항목을 해당 필드에 넣는다.
                            document.getElementById("addressDetail").value = extraAddr;

                        } else {
                            document.getElementById("addressDetail").value = '';
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('newPostCode').value = data.zonecode;
                        document.getElementById("newAddress").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("addressDetail").focus();
                    }
                }).open();
            }

            // async function registerAddress(){
            //     let url="/address/user_yes/mypage/register.do";
            //     const form = new FormData(newAddressRegister);
            //     const response = await fetch(url,{
            //         method: 'POST',
            //         headers: {
            //             'Content-Type': 'application/x-www-form-urlencoded',
            //         },
            //         redirect: 'follow',
            //         body: form,
            //     })
            //
            //     let commits = await response.json(); // 응답 본문 읽어 JSON 형태로 파싱
            //     console.log(commits)
            // }
        </script>
</div>
</html>