<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/mypage/refund/register.do" method="post">
    <div>
        <label for="userId">유저 ID</label>
        <input type="text" id="userId" name="userId" th:value="${session.loginUser.userId}">
    </div>
    <div>
        <label for="uname">유저 이름</label>
        <input type="text" id="uname" name="uname" th:value="${session.loginUser.uname}">
    </div>
    <div>
        <label for="email">유저 이메일</label>
        <input type="text" id="email" name="email" th:value="${session.loginUser.email}">
    </div>
    <div>
        <label for="phone">유저 전화번호</label>
        <input type="text" id="phone" name="phone" th:value="${session.loginUser.phone}">
    </div>
    <div>
        <label for="orderId">주문 번호</label>
        <input type="text" id="orderId" name="orderId" th:value="${order.orderId}">
    </div>
    <div>
        <label for="orderDetailId">환불 대상 상품</label>
        <select name="orderDetailId" id="orderDetailId" >
            <option value="all" selected="selected"> 전체 환불 </option>
            <th:block th:each="orderDetail : ${orderDetailList}">
            <option th:text="${orderDetail.optionName+'( 환불 금액:'+orderDetail.price+')'}"
                    th:value="${orderDetail.orderDetailId}" ></option>
            </th:block>
        </select>
    </div>
    <div>
        <label for="cancelAmount">환불 금액</label>
        <input type="text" id="cancelAmount" name="cancelAmount">
        <script th:inline="javascript">
            cancelAmount = document.querySelector("#cancelAmount");
            selectList = document.querySelectorAll("option");
            selectList.forEach((option)=>{
                console.log(option);
                option.addEventListener('select',()=>{
                    console.log(option);
                })
            })

            cancelAmount.value = 10000;
        </script>
    </div>

    <div>
        <label for="reason">상세 환불 사유</label>
        <textarea id="reason" name="reason" placeholder="환불 사유를 작성해주세요."></textarea>
    </div>
    <div>

    </div>
    <div>
        <label for="addressId">배송지 번호</label>
        <input type="text" id="addressId" name="addressId" th:value="${order.addressId}">
    </div>
    <div>
        <label for="postCode">우편 번호</label>
        <input type="text" id="postCode" name="postCode" th:value="${orderAddress.postCode}">
    </div>
    <div>
        <label for="address">주소</label>
        <input type="text" id="address" name="address" th:value="${orderAddress.address}">
    </div>
    <div>
        <label for="addressDetail">상세 주소</label>
        <input type="text" id="addressDetail" name="addressDetail" th:value="${orderAddress.addressDetail}">
    </div>
    <div>
        <label for="receiverName">수령인 이름</label>
        <input type="text" id="receiverName" name="receiverName" th:value="${orderAddress.receiverName}">
    </div>
    <div>
        <label for="receiverPhone">수령인 전화번호</label>
        <input type="text" id="receiverPhone" name="receiverPhone" th:value="${orderAddress.receiverPhone}">
    </div>
    <div>
        <label for="elevator">엘리베이터 유무</label>
        <input type="text" id="elevator" name="elevator" th:value="${orderAddress.elevator}">
    </div>
    <div>
        <label for="imgCode">첨부 이미지</label>
        <input type="file" id="imgCode" name="imgCode">
    </div>
    <div>
        <label for="rfrDet">환불 사유 카테고리</label>
        <select name="rfrDet" id="rfrDet">
            <option value="rfr0">단순 변심</option>
            <option value="rfr1">상품 문제</option>
            <option value="rfr2">배송 문제</option>
            <option value="rfr3">기타</option>
        </select>
    </div>
</form>

</body>
</html>