<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>주문 완료 페이지</title>
</head>
<div layout:fragment="content">
    <h1>주문 완료</h1>
    <hr>
    <h2>저희 GAGOODA 쇼핑몰에서 주문해 주셔서 감사합니다!</h2>

    <h3>주문하신 상품 목록</h3>
    <table>
        <thead>
            <th>전체 n개</th>
            <th>상품 정보</th>
            <th>수량</th>
            <th>주문금액</th>
        </thead>
        <tbody>
        <tr th:each="orderDetail, stat :${orderDetailList}">
            <td th:text="|${stat.count}|"></td>
            <td>
                <img th:src="@{'/img/product/{file}'(file=${orderDetail.imageList[0].imgPath})}"
                     style="width: 50px; height:50px; object-fit: cover">
                <input type="text" th:value="${orderDetail.optionName}" id="optionName" name="optionName" readonly>
            </td>
            <td th:text="${orderDetail.cnt}"></td>
            <td th:text="${orderDetail.totalPrice}"></td>
        </tr>
        </tbody>
    </table>

    <h3 th:text="'총 주문금액: '+${totalPrice}"></h3>
    <button th:onclick="location.href=[[@{'/order/user_yes/mypage/list.do'}]]">주문 목록 페이지</button>
</div>
</html>