<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">

<head>
    <meta charset="UTF-8">
    <title>주문 목록</title>
</head>
<div layout:fragment="content">
    <h1>주문 목록</h1>
    <!--기간별 조회-->
    <th:block>
        <a>오늘</a>
        <a>7일</a>
        <a>15일</a>
        <a>1개월</a>
        <a>3개월</a>
        <a>1년</a>
    </th:block>
    <!--기간별 조회 end--------------->
    <!--주문목록 table-->
    <table>
        <thead>
            <th>주문번호</th>
            <th>주문날짜</th>
            <th>상품정보</th>
            <th>주문가격</th>
            <th>주문상태</th>
            <th>유저아이디</th>
            <th>주문 상품량</th>
        </thead>
        <tbody>
            <tr th:each="order:${orderList}">
                <td th:text="${order.orderId}"></td>
                <td th:text="${#dates.format(order.regDate, 'yyyy-MM-dd')}"></td>
                <td>
                    <img th:src="@{'/img/product/{file}'(file=${order.imgPath})}"
                         style="width: 50px; height:50px; object-fit: cover;">
                </td>
                <td th:text="${order.totalPrice}+'원'"></td>
                <td th:text="${order.ODet}"></td>
                <td th:text="${order.userId}"></td>
                <th:block th:if="${order.orderDetailList != null}">]
                    <td th:text="'상품 ' +${order.orderDetailList.size()} +'건'"></td>
                </th:block>
            </tr>
        </tbody>
    </table>
    <!--주문 목록 table end----------------->
    <!--pagination-->
    <div>
        <ul>
            <li>
                <a th:href="@{${paging.queryString}(page=${paging.prevPage})}">이전</a>
                <a th:href="@{${paging.queryString}(page=${paging.nextPage})}">다음</a>
            </li>
        </ul>
    </div>
    <!--pagination end--------------->
</div>
</html>