<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/mypageLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="myPageContent">
    <h2>유저 교환 목록</h2>
    <div th:text="${session.exchangeMsg}"></div>
    <h3>교환 내역</h3>
    <ul>
        <li><a class="afterParam" th:href="@{ '' (period=7) }">최근 7일 기록 보기</a></li>
        <li><a class="afterParam" th:href="@{ '' (period=15) }">최근 15일 기록 보기</a></li>
        <li><a class="afterParam" th:href="@{ '' (period=30) }">최근 1개월 기록 보기</a></li>
        <li><a class="afterParam" th:href="@{ '' (period=90) }">최근 3개월 기록 보기</a></li>
        <li><a class="afterParam" th:href="@{ '' (period=365) }">최근 1년 기록 보기</a></li>
        <li>
            <form class="afterParam" th:action="@{''}" method="get">
                <input type="date" name="startDate" id="startDate"> ~
                <input type="date" name="endDate" id="endDate">
                <button type="submit">조회</button>
            </form>
        </li>
    </ul>
    <ul>
        <li><a th:href="@{ '' }">전체 교환 내역</a></li>
        <li><a th:href="@{ '' (detCode=notEnd) }">교환 진행 내역</a></li>
        <li><a th:href="@{ '' (detCode=end) }">교환 완료 내역</a></li>
    </ul>

    <h3>교환 신청 내역 총 <th:block th:text="${exchangeList.size()}"></th:block> 건</h3>
    <table>
        <thead>
        <tr>
            <th>날짜</th>
            <th>주문번호</th>
            <th>상품명</th>
            <th>교환 수량</th>
            <th>처리 현황</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exchange:${exchangeList}">
            <td th:text="${#calendars.format(exchange.regDate,'yyyy-MM-dd')}"></td>
            <td th:text="${exchange.orderId}"></td>
            <td th:text="${optionNameMap[exchange.exchangeId]}"></td>
            <td th:text="${exchange.cnt}"></td>
            <td th:text="${exDetList[#strings.substring(exchange.exDet,2)].detName}"></td>
            <td>
                <th:block th:if="${exchange.exDet.equals('ex0')}">
                    <a href="#" >교환 요청 취소</a>
                </th:block>
                <th:block th:unless="${exchange.exDet.equals('ex0')}">
                    <a th:href="@{ 'exchange/user_yes/mypage/detail.do' (exchangeId=11) }" >교환 내역 확인</a>
                </th:block>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>