<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>GAGOODA 쇼핑몰 파이팅!</h1>
<th:block th:if="${session.loginUser != null}">
    <h2 th:text="${session.loginUser.uname}"></h2>
</th:block>
<a href="/user/signup.do">회원가입</a>
<br>
<a href="/user/login.do">로그인</a>
<br>
<a href="/user/findpw.do">비밀번호 찾기</a>
<br>

<h4>구도윤</h4>
<ul>
    <li>
        <strong>교환</strong>
        <ul>
            <li><a href="/exchange/register.do">교환신청서 작성</a></li>
            <li><a href="/exchange/list.do?userId=1&period=30">userId=1 & period=30 인 교환 기록</a></li>
        </ul>
    </li>

</ul>
</body>
</html>