<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>GAGOODA</title>
</head>
<div layout:fragment="content">
    <h1>GAGOODA 쇼핑몰 파이팅!</h1>

    <h2>천하민</h2>
    <ul>
        <li><a href="/user/double_check.do">회원 정보 수정 및 삭제</a></li>
        <li><a href="/product/admin/register.do">상품 등록</a></li>
        <li><a href="/product/list.do">상품 첫 20개 리스트</a></li>
        <ul style="border: #000 solid 3px;">
            <ul style="border: #000 solid 3px;">
                <th:block th:each="category:${categories}">
                    <li><a th:href="@{'/product/{categoryId}/list.do'(categoryId=${category.categoryId})}"
                           th:text="${category.cname}"></a></li>
                </th:block>
            </ul>
        </ul>
        <h2>주문/배송 팀</h2>
        <h4>주소지 관련 페이지(Address)</h4>
        <ul>
            <li><a href="/address/register.do">주소지 등록</a></li>
            <li><a href="/address/list.do">본인아이디에 저장된 주소 목록보기(로그인필요) </a></li>
        </ul>
        <h2>주문배송팀 유한비 cart</h2>
        <ul>
            <li><a href="/cart/list.do">장바구니 목록</a></li>
        </ul>

        <h2>김현섭</h2>
        <ul>
            <li><a th:href="@{ '/mypage/refund/list.do' (userId=10) }">유저 환불 목록</a></li>
        </ul>
        <h2>구도윤</h2>
        <ul>
            <li><a href="/exchange/user/register.do">교환신청서 작성</a></li>
            <li><a href="/exchange/user/list.do?userId=1&period=30">userId=1 & period=30 인 교환 내역</a></li>
        </ul>
    </ul>
    <h2>주문/배송 팀</h2>
    <h4>주소지 관련 페이지(Address)</h4>
    <ul>
        <li><a href="/address/register.do">주소지 등록</a></li>
        <li><a href="/address/list.do">본인아이디에 저장된 주소 목록보기(로그인필요) </a></li>
    </ul>
    <h4>주문 페이지들(Order)</h4>
    <ul>
        <li><a href="/order/user_yes/list.do">주문 목록</a></li>
        <li><a href="/order/user_yes/register.do">주문 등록</a></li>
    </ul>
    <h2>주문배송팀 유한비 cart</h2>
    <ul>
        <li><a href="/cart/list.do">장바구니 목록</a></li>
    </ul>
    <h2>김현섭</h2>
    <ul>
        <li><a href="refund/user_yes/mypage/list.do">유저 환불 목록</a></li>
        <li><a th:href="@{ 'refund/user_yes/mypage/register.do' (orderId='00010') }">유저 환불 등록폼(로그인 후 가능!)</a></li>
    </ul>
</div>
</body>
</html>