<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티 메인</title>
</head>
<div layout:fragment="content">
    <div class="container">
        <h1 class="mt-4">우리집 <span style="color:#B68C68;">GAGOODA</span> </h1>
        <hr style="margin-top: 0; background : #b68c68; height: 5px">
        <div class="d-flex justify-content-end">
            <button class="btn text-white" style="background-color: #B68C68;"
                    th:onclick="location.href=[[@{'/community/user_yes/register.do'}]]">포스트 등록</button>
        </div>
        <div class="d-flex justify-content-between">
            <div class="mx-2 my-3 card border border-0 position-relative"
                 style="width: 280px;" th:each="community:${communityList}">
                <a th:href="@{'/community/{commId}/detail.do'(commId = ${community.commId})}"
                   style="text-decoration: none; color: black">
                    <img th:src="@{'/img/community/{imgPath}'(imgPath=${community.imgList[0].getImgPath()})}"
                         class="card-img-top rounded mb-3">
                    <div class="card-body p-0">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="userNickname">
                                <i class="bi bi-person-circle"></i>
                                <span class="ms-1" th:text="${community.user.nickname}"></span>
                            </div>
                            <div class="view">
                                <i class="bi bi-eye"></i>
                                <span class="ms-1" th:text="${community.views}"></span>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div>
            <!--페이지네이션-->
            <th:block th:if="${paging!=null}" th:insert="~{pagination}"></th:block>
            <!--페이지네이션end-->
        </div>
    </div>


</div>
</html>