<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>상품문의</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<div layout:fragment="content">
    <div class="container" >
    <h2>상품 문의</h2>
        <form action="/product_inquiry/admin/list.do" method="post">
            <table class="table table-striped table-hover table-bordered table-sm">
            <thead>
            <tr>
                <th scope="col" >문의ID</th>
                <th scope="col" >사용자ID</th>
                <th scope="col" >문의유형</th>
                <th scope="col" >상품CODE</th>
                <th scope="col" >제목</th>
                <th scope="col" >작성일</th>
                <th scope="col" >공개여부</th>
                <th scope="col" >답변여부</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="p:${adminList}" >
                <td th:onclick="location.href = [[@{'/product_inquiry/admin/{pInquiryId}/detail.do' (pInquiryId=${p.getPInquiryId()})}]]" th:text="${p.getPInquiryId()}"></td>
                <td th:onclick="location.href = [[@{'/product_inquiry/admin/{pInquiryId}/detail.do' (pInquiryId=${p.getPInquiryId()})}]]" th:text="${p.getUserId()}"></td>
                <td th:onclick="location.href = [[@{'/product_inquiry/admin/{pInquiryId}/detail.do' (pInquiryId=${p.getPInquiryId()})}]]" th:text="${p.getPiDet()}"></td>
                <td th:onclick="location.href = [[@{'/product_inquiry/admin/{pInquiryId}/detail.do' (pInquiryId=${p.getPInquiryId()})}]]" th:text="${p.getProductCode()}"></td>
                <td th:onclick="location.href = [[@{'/product_inquiry/admin/{pInquiryId}/detail.do' (pInquiryId=${p.getPInquiryId()})}]]" th:text="${p.getTitle()}"></td>
                <td th:onclick="location.href = [[@{'/product_inquiry/admin/{pInquiryId}/detail.do' (pInquiryId=${p.getPInquiryId()})}]]" th:text="${#dates.format(p.getRegDate(), 'yyyy-MM-dd HH:mm')}"></td>
                <td th:onclick="location.href = [[@{'/product_inquiry/admin/{pInquiryId}/detail.do' (pInquiryId=${p.getPInquiryId()})}]]">
                    <th:block th:if="${p.isSecret()}">
                        <p>비공개</p>
                    </th:block>
                    <th:block th:if="${!p.isSecret()}">
                        <p>공개</p>
                    </th:block>
                </td>
                <td>
                    <th:block th:if="${p.getReply() == null}">
                        <p>미답변</p>
<!--                            <a th:href="@{'/product_inquiry/admin/register.do?pInquiryId={pInquiryId}'(pInquiryId=${p.getPInquiryId()})}">답변등록</a>-->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            답변등록
                        </button>

                        <!-- Modal -->

                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <input id="pInquiryId" type="hidden" name="pInquiryId" th:value="${p.PInquiryId}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="${p.getTitle()}"></h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" th:text="${p.getContent()}"></div>
                                        <div class="modal-body">
                                            <textarea name="reply" id="reply" class="form-control mx-lg-auto" rows="5" placeholder="답변"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                            <button type="submit" class="reply_register btn btn-primary" > 등록</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

<!--                        <script>-->
<!--                            $(function(){-->
<!--                               $('.reply_register').on('submit', function (e){-->
<!--                                   e.preventDefault()-->
<!--                                   var pInquiryId = $('#pInquiryId').val();-->
<!--                                   var reply = $('#reply').val();-->
<!--                                   $.ajax({-->
<!--                                       url: "/product_inquiry/admin/register.do",-->
<!--                                       method: "POST",-->
<!--                                       data: {pInquiryId,reply},-->
<!--                                       success: function(data){-->
<!--                                           alert("Successfully submitted.")-->
<!--                                       }-->
<!--                                   });-->
<!--                               });-->
<!--                            });-->
<!--                        </script>-->
                    </th:block>
                    <th:block th:if="${p.getReply() != null}">
                        <p>답변</p>
                    </th:block>
                </td>
            </tr>
            </tbody>
            </table>
        </form>
    </div>
</div>
</html>