<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>상품리뷰</title>
</head>
<div layout:fragment="content">
    <div class="container" >
        <div class="d-flex">
            <h2>상품 리뷰</h2>
            <h2 th:text="${count}"></h2>
        </div>

        <form action="/review/admin/list.do" method="get" id="reviewSearchForm" name="reviewSearchForm">
            <div>
                <label class="d-block">검색 키워드 :
                    <select name="searchDiv" id="searchDiv">
                        <option value="" selected disabled>검색 분류 선택</option>
                        <option value="review_id">리뷰번호</option>
                        <option value="user_name">리뷰작성자명</option>
                        <option value="product_name">상품명</option>
                    </select>
                    <input type="text" id="searchWord" name="searchWord">
                </label>
                <label class="d-block">검색 일시 :
                    <select name="dateType" id="dateType">
                        <option selected disabled>검색 일시 분류</option>
                        <option value="reg_date">작성 일자</option>
                    </select>
                    <input type="date" id="startDate" name="startDate"> ~
                    <input type="date" id="endDate" name="endDate">
                </label>
            </div>
            <button type="submit" class="btn btn-outline-secondary">검색</button>
            <button name="reset" class="btn btn-outline-primary" type="reset">초기화</button>
            <table class="table table-striped table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th scope="col" >리뷰ID</th>
                        <th scope="col" >사용자닉네임</th>
                        <th scope="col" >평점</th>
                        <th scope="col" >상품</th>
                        <th scope="col" >옵션</th>
                        <th scope="col" >작성일</th>
                    </tr>
                </thead>
                <tbody th:each="review:${reviewList}" >

                    <tr th:onclick="location.href = [[@{'/review/admin/{reviewId}/detail.do' (reviewId=${review.getReviewId()})}]]" >
                        <td th:text="${review.getReviewId()}"></td>
                        <td th:text="${review.getUser().getUname()}"></td>
                        <td th:text="${review.getRate()}"></td>
                        <td th:text="${review.getProductDto().getPname()}"></td>
                        <td th:text="${review.getOptionProduct().getOpname()}"></td>
                        <td th:text="${#dates.format(review.getRegDate(), 'yyyy-MM-dd HH:mm')}"></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <!--페이지네이션-->
        <nav aria-label="Page navigation example" class="pt-3">
            <ul class="pagination d-flex justify-content-center">
                <li class="page-item" th:classappend="${(!paging.prev)?'disabled text-black-50':''}">
                    <a class="page-link text-black-50" aria-label="Previous" th:href="@{${paging.queryString}(page=${paging.prevPage})}"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <th:block th:if="${paging.startPage>1}">
                    <li class="page-item">
                        <a class="page-link"  th:href="@{${paging.queryString}(page=1)}">1</a>
                    </li>
                    <li class="page-link"><span>...</span></li>
                </th:block>

                <li class="page-item" th:each="i : ${#numbers.sequence(paging.startPage,paging.endPage)}"
                    th:classappend="${(i==paging.page)?'disaled':''}">
                    <a class="page-link" style="color: #B68C68" th:classappend="${(i==paging.page)?'fw-bold':''}"
                       th:href="@{${paging.queryString}(page=${i})}" th:text="${i}"></a>
                </li>
                <th:block th:if="${paging.endPage<paging.totalPages}">
                    <li class="page-item"><span>...</span></li>
                    <li>
                        <a class="page-link" style="color: #B68C68" th:href="@{${paging.queryString}(page=${paging.totalPages})}"
                           th:text="${paging.totalPages}"></a>
                    </li>
                </th:block>

                <li class="page-item" th:classappend="${(!paging.next)?'disabled':''}">
                    <a class="page-link text-black-50" th:href="@{${paging.queryString}(page=${paging.nextPage})}" aria-label="Next" ><span aria-hidden="true">&raquo;</span></a>
                </li>
            </ul>
        </nav>
        <!--페이지네이션end-->

        <script th:inline="javascript">
            const forms = document.forms.reviewSearchForm;
            console.log(forms);
            forms.searchDiv.onchange = (qualifiedName, value)=>{
                console.log(forms.searchDiv.value);
                forms.searchWord.setAttribute("required", value);
            }
            forms.dateType.onchange = (qualifiedName, value)=>{
                forms.startDate.setAttribute("required", value);
                forms.endDate.setAttribute("required", value);
            }
            forms.reset.onclick=()=>{
                forms.searchWord.removeAttribute("required");
                forms.startDate.removeAttribute("required");
                forms.endDate.removeAttribute("required");
            }
        </script>
    </div>
</div>
</html>