<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>결제 취소 신청폼</h3>
    <form name="cancel" action="javascript:void(0)" method="POST">
        <div>
            <label for="orderId">주문번호</label>
            <input type="text" name="orderId" id="orderId" readonly>  <!--환불 진행할 상품의 해당 주문번호-->
        </div>
        <div>
            <label for="cancelAmount">환불 금액</label>
            <input type="number" name="cancelAmount" id="cancelAmount" readonly>  <!--환불 금액-->
        </div>
        <div>
            <label for="reason">환불 사유</label>
            <input type="text" name="reason" id="reason" readonly>  <!--환불 사유-->
        </div>
        <button name="submitBtn" type="submit" onclick="cancelPayments()">환불하기</button>
    </form>
        <button id="closeBtn" >닫기</button>
<script th:inline="javascript">
    async function cancelPayments(){ // 결제 취소 AJAX
        const forms = document.forms.cancel; // POST 요청을 보낼 form
        const formData = new FormData(forms); // fetch body에 담기 위해 new FormData 에 넣어준다.
        let url = "/refund/admin/payments/cancel.do"; // 취소 요청을 보낼 POST url
        const resp = await fetch(url,{method: "POST", body: formData}) // AJAX 시도
        console.log("resp: "+ resp)
        // console.log(resp.body)
        // console.log(await resp.json())
        const respJson = await resp.json(); // 비동기 통신으로 반환한 JSON 값(해당 URL에는 0(성공) 혹은 1(실패)가 반환됨(이외의 값이 존재할 수 있음.)
        console.log("respJson: "+respJson)
        console.log(respJson.message);
        // window.close();
        // if(respJson > 0){
        //     alert("결제 취소 실패")
        // }else{
        //     alert("결제 취소 성공")
        // }
        // window.close();
    }

    let closeBtn = document.querySelector("#closeBtn");
    closeBtn.addEventListener("click",()=>{
        window.close();
    })

</script>
</body>
</html>