<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
<h3>주문 내역</h3>
    <th:block th:if="${order != null}">
        <div>주문 날짜: <span th:text="${order.regDate}"></span></div>
        <div>주문 번호: <span th:text="${order.orderId}" id="orderId"></span></div>
        <div>
            상품명:
            <th:block th:if="${!order.orderDetailList.isEmpty() && order.orderDetailList != null}">
                <span th:text="${order.orderDetailList[0].optionName + ' 외'}"></span>
                <span th:text="${order.orderDetailList.size() -1 + '건'}"></span>
            </th:block>
        </div>
        <div>총 구매 금액: <span th:text="${order.totalPrice}"></span></div>
        <div>주문인: <span th:text="${order.userName}"></span></div>
    </th:block>
    <h3>환불 요청 정보</h3>
    <h4>요청 상품</h4>
    <div>상품명 <span th:text="${orderDetail.optionName}"></span></div>
    <div>주문 금액 <span th:text="${orderDetail.totalPrice}"></span></div>
    <div>환불 요청 금액 <span th:text="${refund.cancelAmount}" id="cancelAmount"></span></div>
    <div>환불 요청 분류 <span th:text="${refund.rfrDetDto.detName}" id="detName"></span></div>
    <div>환불 요청 사유 <span th:text="${refund.reason}"></span></div>
    <div>첨부 사진
        <th:block th:if="${!refund.imageList.isEmpty() && refund.imageList != null}" th:each="img:${refund.imageList}">
            <img th:src="@{'/img/refund/{imgPath}'(imgPath = ${img.imgPath})}" alt="" style="width: 400px; height: 400px; object-fit: cover;">
        </th:block>
    </div>

    <h4>수령인 정보</h4>
    <div>
        <div>수령인</div>
        <div th:text="${refund.receiverName}"></div>
    </div>
    <div>
        <div>연락처</div>
        <div th:text="${refund.receiverPhone}"></div>
    </div>
    <div>
        <div>주소</div>
        <div>
            <div th:text="${'('+refund.postCode+')'+refund.address}"></div>
            <div th:text="${refund.addressDetail}"></div>
        </div>
    </div>
    <div>
        <div>엘리베이터 유무</div>
        <div th:if="${refund.elevator == 1}">유</div>
        <div th:unless="${refund.elevator == 1}">무</div>
    </div>

    <h3>환불 상태 변경</h3>
    <div>
        <div>현재 환불 진행 상태</div>
        <div th:text="${refund.rfDetDto.detName}"></div>
    </div>
<!--    <div>-->
<!--        <div th:text="${payment.amount}"></div>-->
<!--        <div th:if="${payment.cancelHistory != null}" th:each="cancelHis: ${payment.cancelHistory}">-->
<!--            <div th:text="${cancelHis.cancelledAt}"></div>-->
<!--            <div th:text="${cancelHis.amount}"></div>-->
<!--            <div th:text="${cancelHis.reason}"></div>-->
<!--            <a class="receiptUrl" href="javascript:void(0)" th:data-receipt="${cancelHis.receiptUrl}">취소 영수증</a>-->
<!--        </div>-->
<!--    </div>-->
    <div>
        <div>환불 답변</div>
        <div th:text="${refund.reply}"></div>
    </div>
    <form name="modify" th:action="@{'/refund/admin/{refundId}/modify.do' (refundId=${refund.refundId})}" method="POST">
        <div>
            <label for="rfDet">상태 변경</label>
            <select name="rfDet" id="rfDet" required>
                <option value="" selected disabled>변경할 상태를 선택하세요.</option>
                <th:block th:each="rfCode:${rfCodeList}">
                    <option th:value="${rfCode.detCode}" th:text="${rfCode.detName}"></option>
                </th:block>
            </select>
<!--            <th:block th:if="${refund.rfDet.equals('rf4') || refund.rfDet.equals('rf5') || refund.rfDet.equals('rf6')}">-->
            <button id="cancelBtn" type="button" onclick="cancelPayments()">결제 취소 진행</button>
<!--            </th:block>-->
        </div>
        <div>
            <label for="reply">환불 요청 답변</label>
            <textarea required name="reply" id="reply" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">등록</button>
        <button type="reset">초기화</button>
    </form>

<!--    <th:block th:if="${refund.rfDet.equals")}"-->
<script th:inline="javascript">
    const cancelBtn = document.querySelector("#cancelBtn");
    let orderId = document.getElementById("orderId").innerText;
    let cancelAmount = document.getElementById("cancelAmount").innerText;
    let detName = document.getElementById("detName").innerText;

    async function cancelPayments(){ // 결제 취소 AJAX
        const forms = document.forms.cancel; // POST 요청을 보낼 form
        const formData = new FormData(forms); // fetch body에 담기 위해 new FormData 에 넣어준다.
        formData.set("orderId", orderId);
        formData.set("cancelAmount", "50");
        formData.set("reason", detName);
        let url = "/refund/admin/payments/cancel.do"; // 취소 요청을 보낼 POST url
        const resp = await fetch(url,{method: "POST", body: formData}) // AJAX 시도
        console.log("resp: "+ resp)
        // console.log(resp.body)
        // console.log(await resp.json())
        const respJson = await resp.json(); // 비동기 통신으로 반환한 JSON 값, 취소된 객체의 정보를 담고 있음.
        console.log("respJson: "+respJson)
        console.log(respJson.message);
        if (respJson.code > 0 || respJson.code < 0){
            alert (respJson.message);
        }else if(respJson.code === 0){
            let totalPrice = [[${refund.orderDto.totalPrice}]]
            let cancelAmount = [[${refund.cancelAmount}]]
            alert(totalPrice +" 중 "+ cancelAmount +"원을 결제 취소하였습니다.");
        }
    }

    let receiptUrl = document.querySelectorAll(".receiptUrl");
    receiptUrl.forEach(url=>{
        url.addEventListener("click",()=>{
            window.open(url.dataset.receipt, "cancelReceipt", "width=450, height=600, resizable=no")
        })
    })
</script>

</div>
</html>