<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
<h3>주문 내역</h3>
    <div>주문 날짜: <span th:text="${refund.orderDto.regDate}"></span></div>
    <div>주문 번호: <span th:text="${refund.orderDto.orderId}"></span></div>
    <div>
        상품명:
        <th:block th:if="${!refund.orderDto.orderDetailList.isEmpty() && refund.orderDto.orderDetailList != null}">
            <span th:text="${refund.orderDto.orderDetailList[0].optionName + ' 외'}"></span>
            <span th:text="${refund.orderDto.orderDetailList.size() -1 + '건'}"></span>
        </th:block>
    </div>
    <div>총 구매 금액: <span th:text="${refund.orderDto.totalPrice}"></span></div>
    <div>주문인: <span th:text="${refund.orderDto.userName}"></span></div>

    <h3>환불 요청 정보</h3>
    <h4>요청 상품</h4>
    <div>상품명 <span th:text="${refund.orderDetailDto.optionName}"></span></div>
    <div>주문 수량 <span th:text="${refund.orderDetailDto.cnt}"></span></div>
    <div>환불 요청 금액 <span th:text="${refund.cancelAmount}"></span></div>
    <div>환불 요청 분류 <span th:text="${refund.rfrDetDto.detName}"></span></div>
    <div>환불 요청 사유 <span th:text="${refund.reason}"></span></div>
    <div>첨부 사진
        <th:block th:if="${!refund.imageList.isEmpty() && refund.imageList != null}" th:each="img:${refund.imageList}">
            <img th:src="@{'/img/refund/{imgPath}'(imgPath = ${img.imgPath})}" alt="" style="width: 400px; height: 400px; object-fit: cover;">
        </th:block>
    </div>

    <h4>수령인 정보</h4>
    <div>
        <div>수령인</div>
        <div th:text="${refund.receiverName}"></div>
    </div>
    <div>
        <div>연락처</div>
        <div th:text="${refund.receiverPhone}"></div>
    </div>
    <div>
        <div>주소</div>
        <div>
            <div th:text="${'('+refund.postCode+')'+refund.address}"></div>
            <div th:text="${refund.addressDetail}"></div>
        </div>
    </div>
    <div>
        <div>엘리베이터 유무</div>
        <div th:if="${refund.elevator == 1}">유</div>
        <div th:unless="${refund.elevator == 1}">무</div>
    </div>

    <h3>환불 상태 변경</h3>
    <div>
        <div>현재 환불 진행 상태</div>
        <div th:text="${refund.rfDetDto.detName}"></div>
    </div>
    <div>
        <div>환불 답변</div>
        <div th:text="${refund.reply}"></div>
    </div>
    <form name="modify" th:action="@{'/refund/admin/{refundId}/modify.do' (refundId=${refund.refundId})}" method="POST">
        <div>
            <label for="rfDet">상태 변경</label>
            <select name="rfDet" id="rfDet" required>
                <option value="" selected disabled>변경할 상태를 선택하세요.</option>
                <th:block th:each="rfCode:${rfCodeList}">
                    <option th:value="${rfCode.detCode}" th:text="${rfCode.detName}"></option>
                </th:block>
            </select>
            <th:block th:if="${refund.rfDet.equals('rf4') || refund.rfDet.equals('rf5') || refund.rfDet.equals('rf6')}">
                <button id="cancelBtn" type="button">결제 취소 진행</button>
            </th:block>
        </div>
        <div>
            <label for="reply">환불 요청 답변</label>
            <textarea required name="reply" id="reply" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">등록</button>
        <button type="reset">초기화</button>
    </form>

<!--    <th:block th:if="${refund.rfDet.equals")}"-->
<script th:inline="javascript">
    const cancelBtn = document.querySelector("#cancelBtn");
    cancelBtn.addEventListener("click",()=>{
        document.open("/refund/admin/payments/cancel.do","cancel", "width=600, height=400, left=50%, top=50%");
    })
</script>
</div>
</html>