<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
    <form action="/refund/admin/list.do" method="get">
        <div>
            <label class="d-block">검색 키워드 :
                <select name="searchDiv" id="searchDiv">
                    <option value="" selected disabled>검색 분류 선택</option>
                    <option value="all">전체</option>
                    <option value="orderId">주문번호</option>
                    <option value="uname">신청자명</option>
                    <option value="phone">신청자 전화번호</option>
                </select>
                <input type="text" id="searchWord" name="searchWord">
            </label>
            <label class="d-block">검색 일시 :
                <select name="dateType" id="dateType">
                    <option selected disabled>검색 일시 분류</option>
                    <option value="regDate">요청 일시</option>
                    <option value="modDate">상태 수정 일시</option>
                </select>
                <input type="date" id="startDate" name="startDate"> ~
                <input type="date" id="endDate" name="endDate">
            </label>
            <label>진행 상태 :
                <input type="checkbox" name="rfDet" id="rf0" value="rf0" >
                <input type="checkbox" name="rfDet" id="rf1" value="rf1" >
                <input type="checkbox" name="rfDet" id="rf2" value="rf2" >
                <input type="checkbox" name="rfDet" id="rf3" value="rf3" >
                <input type="checkbox" name="rfDet" id="rf4" value="rf4" >
                <input type="checkbox" name="rfDet" id="rf5" value="rf5" >
                <input type="checkbox" name="rfDet" id="rf6" value="rf6" >
                <input type="checkbox" name="rfDet" id="rf7" value="rf7" >
                <input type="checkbox" name="rfDet" id="rf8" value="rf8" >
            </label>
        </div>
    </form>

    <table>
        <thead>
        <tr>
            <th>No.</th>
            <th>작성자</th>
            <th>주문 ID</th>
            <th>상세 주문 ID</th>
            <th>옵션 상품 ID</th>
            <th>주문 가격</th>
            <th>환불 요청 가격</th>
            <th>환불 진행 상태</th>
            <th>환불 신청일</th>
            <th>최근 상태 변경일</th>
        </tr>
        </thead>
        <tbody>
        <!--            <th:block th:each="refund, i : ${refundList}">-->
        <th:block th:each="i : ${#numbers.sequence(0, refundList.size()-1)}">
            <tr>
                <td th:text="${i+1}"></td>
                <td th:text="${refundList[i].uname}"></td>
                <td th:text="${refundList[i].orderId}"></td>
                <td th:text="${refundList[i].orderDetailId}"></td>
                <td th:text="${refundList[i].orderDetailDto.optionCode}"></td>
                <td th:text="${refundList[i].orderDetailDto.price}"></td>
                <td th:text="${refundList[i].cancelAmount}"></td>
                <td th:text="${rfCodeList[refundList[i].rfDet.substring(2)].detName}"></td>
                <td th:text="${#calendars.format(refundList[i].regDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${#calendars.format(refundList[i].modDate, 'yyyy-MM-dd')}"></td>
            </tr>
        </th:block>
        <!--            </th:block>-->
        </tbody>
    </table>
    <!--    <th:block th:text="${refundList}"></th:block>-->
</div>
</html>
