<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>주문 상세보기</title>
</head>
<div layout:fragment="content">
    <h2> 주문 상세보기</h2>
    <!--주문 일자, 번호, 상태-->
    <fieldset>
        <label for="regDate">주문 일자:</label>
        <span th:text="${#calendars.format(order.regDate,'yyyy-MM-dd')}" id="regDate"></span>
        <label for="orderId">주문 번호: </label>
        <span id="orderId"  th:text="${order.orderId}"></span>
        <label for="oDet">주문 상태: </label>
        <span id="oDet" th:text="${oCodeList[order.ODet.substring(1)].detName}"></span>
    </fieldset>
    <!--주문 일자, 번호, 상태 end----------------->
    <!--상세 주문 물품 리스트-->
    <fieldset>
        <table>
            <thead>
            <th>순번</th>
            <th>상품정보</th>
            <th>수량</th>
            <th>가격</th>
            </thead>
            <tbody>
            <tr th:each="orderDetail, stat :${orderDetailList}">
                <td th:text="|${stat.count}|"></td>
                <td>
                    <img th:src="@{'/img/product/{file}'(file=${orderDetail.imageList[0].imgPath})}"
                         class="rounded" style="width: 50px; height:50px; object-fit: cover">
                    <span th:text="${orderDetail.optionName}" id="optionName" name="optionName" ></span>
                </td>
                <td th:text="${orderDetail.cnt}"></td>
                <td th:text="${orderDetail.totalPrice}"></td>
            </tr>
            </tbody>
        </table>
        <div>
            <label for="totalPrice">상품 총 물품 금액</label>
            <span th:text="${order.totalPrice}" name="totalPrice" id="totalPrice"></span>
            <label for="paidPrice">총 결제 금액</label>
            <span text="paidPrice" id="paidPrice" th:value="${order.totalPrice}"></span>
        </div>
    </fieldset>
    <!--상세 주문 물품 리스트 end------------>
    <!--수령인 정보 ----------------------------------------------------->
    <fieldset>
        <legend>받는 사람의 정보</legend>
        <div>
            <label for="receiverName">받는 사람: </label>
            <span id="receiverName" name="receiverName" th:text="${order.receiverName}"></span>
        </div>
        <div>
            <label for="receiverPhone">연락처: </label>
            <span id="receiverPhone" name="receiverPhone" th:text="${order.receiverPhone}" ></span>
        </div>
        <div>
            <label>받는 주소: </label>
            <div>
                <span th:text="${order.postCode}"></span>
            </div>
            <span th:text="${order.address}"></span>
            <span th:text="${order.addressDetail}"></span>

        </div>

        <div>
            <label for="elevator">엘레베이터: </label>
            <span id="elevator" th:text="${order.elevator}" ></span>
        </div>
    </fieldset>
    <!--수령인 정보 end------------------------------------->
    <!--배달 요청 정보-->
    <fieldset>
        <div>
            <label for="request">배달 요청 사항</label>
            <div>
                <span id="request" th:text="${delivery.request}"></span>
            </div>
        </div>
    </fieldset>
    <!--배달 요청 정보 end--------------------------------------------------->
    <button th:onclick="location.href=[[@{'/order/admin/list.do'}]]">주문 목록 돌아가기</button>

</div>
</html>