<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
    <h3>주문 내역</h3>
    <th:block th:if="${order != null}">
        <table class="table">
            <tr>
                <th class="col-2">주문 날짜</th>
                <td class="col-4" th:text="${#dates.format(order.regDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            <tr>
                <th class="col-2">주문번호</th>
                <td class="col-4" id="orderId" th:text="${order.orderId}"></td>
            </tr>
            <tr>
                <th class="col-2">총 구매 금액</th>
                <td class="col-4" th:text="${order.totalPrice}"></td>

            </tr>
            <tr>
                <th class="col-2">주문자</th>
                <td class="col-4" th:text="${order.userName}"></td>
            </tr>
            <tr>
                <th class="col-2">주문자 전화번호</th>
                <td class="col-4" th:text="${order.userPhone}"></td>
            </tr>
            <tr>
                <th class="col-2">주문자 이메일</th>
                <td class="col-4" th:text="${order.userEmail}"></td>
            </tr>
            <tr>
                <th class="col-2">주문 상품</th>
                <td class="col-4">
                    <th:block th:if="${!order.orderDetailList.isEmpty() && order.orderDetailList != null}">
                        <span th:text="${order.orderDetailList[0].optionName + ' 등'}"></span>
                        <span th:text="${order.orderDetailList.size() + '건'}"></span>
                    </th:block>
                </td>
            </tr>
        </table>
    </th:block>

    <h3>교환 요청 정보</h3>
    <table class="table">
        <thead>
        <tr class="text-center">
            <th colspan="2">교환 요청 상품</th>
            <th colspan="2">수령인 정보</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="col-2">상품명</th>
            <td class="col-4" th:text="${orderDetail.optionName}"></td>
            <th class="col-2">수령인</th>
            <td class="4" th:text="${exchange.receiverName}"></td>
        </tr>
        <tr>
            <th class="col-2">교환 요청 수량</th>
            <td class="col-4" >
                <span th:text="${exchange.cnt}"></span>( <span th:text="${'주문 수량: '+ orderDetail.cnt}"></span> )
            </td>
            <th class="col-2">수령인 연락처</th>
            <td class="col-4" th:text="${exchange.receiverPhone}"></td>
        </tr>
        <tr>
            <th class="col-2">교환 요청 분류</th>
            <td class="col-4" th:text="${exchange.rfrDetDto.detName}"></td>
            <th class="col-2">수령인 주소</th>
            <td class="col-4">
                <div>(<span th:text="${exchange.postCode}"></span>) <span th:text="${exchange.address}"></span></div>
                <div th:text="${exchange.addressDetail}"></div>
            </td>
        </tr>
        <tr>
            <th class="col-2">교환 요청 사유</th>
            <td class="col-4" th:text="${exchange.reason}"></td>
            <th class="col-2">엘리베이터 유무</th>
            <td class="col-4">
                <div th:if="${exchange.elevator == 1}">O</div>
                <div th:unless="${exchange.elevator == 1}">X</div>
            </td>
        </tr>
        <tr>
            <th class="col-2">첨부 이미지</th>
            <td class="col-4">
                <th:block th:if="${!exchange.imageList.isEmpty() && exchange.imageList != null}" th:each="img:${exchange.imageList}">
                    <img th:src="@{'/img/exchange/{imgPath}'(imgPath = ${img.imgPath})}" alt="" style="width: 200px; height: 200px; object-fit: cover;">
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>




    <h3>교환 상태 변경</h3>
    <div class="col-5">
        <div>현재 교환 진행 상태</div>
        <div id="detName" class="form-control" th:text="${exchange.exDetDto.detName}"></div>
    </div>
    <div class="col-5">
        <div>교환 답변</div>
        <div class="form-control" th:text="${exchange.reply}"></div>
    </div>
    <form name="modify" th:action="@{'/exchange/admin/{exchangeId}/modify.do' (exchangeId=${exchange.exchangeId})}" method="POST">
        <div>
            <label class="form-label" for="exDet">상태 변경</label>
            <select class="form-select-sm" name="exDet" id="exDet" required>
                <option value="" selected disabled>변경할 상태를 선택하세요.</option>
                <th:block th:each="exCode:${exCodeList}">
                    <option class="exDet" th:value="${exCode.detCode}" th:text="${exCode.detName}" th:data-exNum="${exCode.detCode.substring(2)}"></option>
                </th:block>
            </select>
            <button id="cancelBtn" class="btn btn-outline-primary" type="button">재고 변경 진행</button>
        </div>
        <div>
            <label class="form-label d-block" for="reply">교환 요청 답변</label>
            <textarea class="form-text form-control-sm" required name="reply" id="reply" cols="70" rows="10" style="resize: none"></textarea>
        </div>
        <button class="btn btn-outline-primary" type="submit">등록</button>
        <button class="btn btn-outline-secondary" type="reset">초기화</button>
    </form>
    <script th:inline="javascript">
        /* exDet 지난 상태 막기 */
        let exName = document.querySelectorAll(".exDet");
        let exDet = document.querySelector("#exDet");
        let currentExDet = [[${exchange.exDet}]]
        console.log("current: ",currentExDet)
        exName.forEach(element =>{
            console.log(element.dataset.exnum)
            console.log(currentExDet.slice(2))
            if(element.dataset.exnum < currentExDet.slice(2)){
                element.disabled = true;
            }

        })
    </script>

</div>
</html>