<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
    <h2>환불 신청 목록</h2>
    <form action="/exchange/admin/list.do" method="get" id="searchForm" name="searchForm">
        <div>
            <label class="d-block">검색 키워드 :
                <select name="searchDiv" id="searchDiv">
                    <option value="" selected disabled>검색 분류 선택</option>
                    <option value="order_id">주문번호</option>
                    <option value="uname">신청자명</option>
                    <option value="phone">신청자 전화번호</option>
                </select>
                <input type="text" id="searchWord" name="searchWord">
            </label>
            <label class="d-block">검색 일시 :
                <select name="dateType" id="dateType">
                    <option selected disabled>검색 일시 분류</option>
                    <option value="reg_date">요청 일시</option>
                    <option value="mod_date">상태 수정 일시</option>
                </select>
                <input type="date" id="startDate" name="startDate"> ~
                <input type="date" id="endDate" name="endDate">
            </label>
            <div class="d-flex">
                <span>진행 상태 :</span>
                <label><input type="checkbox" name="exDet" id="ex0" value="ex0" > 교환 요청 </label>
                <label><input type="checkbox" name="exDet" id="ex1" value="ex1" > 교환 요청 취소 </label>
                <label><input type="checkbox" name="exDet" id="ex2" value="ex2" > 교환 요청 확인 </label>
                <label><input type="checkbox" name="exDet" id="ex3" value="ex3" > 교환 수거 중 </label>
                <label><input type="checkbox" name="exDet" id="ex4" value="ex4" > 교환 수거 완료 </label>
                <label><input type="checkbox" name="exDet" id="ex5" value="ex5" > 교환 배송 중 </label>
                <label><input type="checkbox" name="exDet" id="ex6" value="ex6" > 교환 배송 완료 </label>
                <label><input type="checkbox" name="exDet" id="ex7" value="ex7" > 교환 완료 </label>
                <label><input type="checkbox" name="exDet" id="ex8" value="ex8" > 교환 거절 </label>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-secondary">검색</button>
        <button name="reset" type="reset" class="btn btn-outline-primary">초기화</button>
    </form>
    <h3>교환 신청 <span th:text="${allCount}"></span></h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>작성자</th>
            <th>주문 ID</th>
            <th>상세 주문 ID</th>
            <th>옵션 상품 ID</th>
            <th>주문 상품 수량</th>
            <th>교환 요청 수량</th>
            <th>교환 진행 상태</th>
            <th>교환 신청일</th>
            <th>최근 상태 변경일</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:if="${exchangeCount >= 0}" th:each="exchange : ${exchangeList}">
            <tr class="hrefRow" th:data-exchange="${exchange.exchangeId}" th:data-exDet="${exchange.exDet}">
                <td th:text="${exchange.uname}"></td>
                <td th:text="${exchange.orderId}"></td>
                <td th:text="${exchange.orderDetailId}"></td>
                <td th:text="${exchange.orderDetailDto.optionCode}"></td>
                <td th:text="${exchange.orderDetailDto.cnt}"></td>
                <td th:text="${exchange.cnt}"></td>
                <td th:text="${exchange.exDetDto.detName}"></td>
                <td th:text="${#calendars.format(exchange.regDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${#calendars.format(exchange.modDate, 'yyyy-MM-dd')}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <th:block th:unless="${exchangeCount >= 0}"><div>해당 교환 내역이 존재하지 않습니다.</div></th:block>

    <!--pagination-->
    <div th:include="/pagination.html"></div>
    <!--pagination end--------------->

    <script th:inline="javascript">
        let hrefRows = document.querySelectorAll(".hrefRow");
        hrefRows.forEach((row)=>{
            row.addEventListener('click',()=>{
                console.log(row)
                let targetHref = "http://"+ document.location.host + "/exchange/admin/" + row.dataset.exchange +"/detail.do";
                console.log(targetHref)
                let exchangeId = row.dataset.exchange;
                let exDet = row.dataset.exdet;
                if(exDet === "ex0" ){
                    let isOk = confirm("진행 상태가 '교환 요청 확인' 상태로 바뀝니다. 확인하시겠습니까?");
                    if(isOk){
                        modifyRf(exchangeId);
                        setTimeout(()=>{document.location.href = targetHref}, 200);
                    }
                }else{
                    document.location.href = targetHref;
                }
            })
        })

        /* 비동기 rf 상태 수정 */
        async function modifyRf(exchangeId){
            let url = "http://"+document.location.host+"/exchange/admin/"+exchangeId+"/modify.do"
            let modifyForm = new FormData();
            modifyForm.set("exchangeId", exchangeId);
            modifyForm.set("exDet", "ex2");
            const resp = await fetch(url, {method: "POST", body: modifyForm, redirect: "manual"})
            console.log(resp)
        }

        const forms = document.forms.searchForm;
        console.log(forms);
        forms.searchDiv.onchange = (qualifiedName, value)=>{
            console.log(forms.searchDiv.value);
            forms.searchWord.setAttribute("required", value);
        }
        forms.dateType.onchange = (qualifiedName, value)=>{
            forms.startDate.setAttribute("required", value);
            forms.endDate.setAttribute("required", value);
        }
        forms.reset.onclick=()=>{
            forms.searchWord.removeAttribute("required");
            forms.startDate.removeAttribute("required");
            forms.endDate.removeAttribute("required");
        }

    </script>
</div>
</html>
