<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/mypageLayout}">
<head>
  <meta charset="UTF-8">
  <title>배송지 리스트</title>
</head>
<div layout:fragment="myPageContent">
<h2 class="my-4">배송지 리스트</h2>
  <button type="button" class="input-group-text"  th:onclick="|location.href='@{/address/user_yes/mypage/register.do }'|"  style="background-color: #FFFAF5; color: #B68C68" th:text="'새 배송지 등록'"></button>
  <hr style="margin-bottom: 1; background : #b68c68; height: 5px">


<table class="table">
  <thead>
    <th scope="col">주소지 이름</th>
    <th scope="col">우편번호</th>
    <th scope="col">주소</th>
    <th scope="col">상세 주소</th>
    <th scope="col">수령인 이름</th>
    <th scope="col">수령인 전화번호</th>
    <th scope="col">기본 배송지</th>
    <th scope="col">엘레베이터</th>
  </thead>
  <tbody>
    <tr th:each="a:${alist}" style="cursor: pointer">
      <td th:text="${a.aname}"> </td>
      <td th:text="${a.postCode}"> </td>
      <td th:text="${a.address}"> </td>
      <td th:text="${a.addressDetail}"> </td>
      <td th:text="${a.receiverName}"> </td>
      <td th:text="${a.receiverPhone}"> </td>
<!--      <td th:text="${a.home}"></td>-->
      <td th:if="${a.home == true}">O</td>
      <td th:if="${a.home == false}">X</td>
<!--      <td th:text="${a.elevator}"> </td>-->
      <td th:if="${a.elevator == true}">O</td>
      <td th:if="${a.elevator == false}">X</td>
      <td><button type="button" class="input-group-text" th:onclick="|location.href='@{/address/user_yes/mypage/modify.do (addressId=${a.addressId})}'|" style="background-color: #FFFAF5; color: #B68C68" >수정하기</button></td>
      <input type="hidden" name="addressId" th:value="${a.addressId}">
      <input type="hidden" name="userId" th:value="${a.userId}">
    </tr>


  </tbody>
</table>



</div>
</html>