<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/mypageLayout}">
<head>
  <meta charset="UTF-8">
  <title>사용자 배송지 수정</title>
</head>
<div layout:fragment="myPageContent">
<h2>사용자 배송지 수정</h2>
<form action="/address/user_yes/mypage/modify.do" method="post"  enctype="multipart/form-data">
  <div>
    <div th:text="${session.loginUser.userId}" th:readonly="true"></div>
  </div>
  <div>
    <label for="aname">주소지 이름</label>
    <input type="text" name="aname" id="aname" th:value="${address.getAname}" required>
  </div>
  <input type="button" onclick="DaumPostcode()" value="우편번호 찾기" class="d_btn">
  <div>
    <label for="postCode">우편번호</label>
    <input type="text" name="postCode" id="postCode" th:value="${address.getPostCode}" required>
  </div>
  <div>
    <label for="address">주소</label>
    <input type="text" name="address" id="address" th:value="${address.getAddress}" required>
  </div>
  <div>
    <label for="addressDetail">상세주소</label>
    <input type="text" name="addressDetail" id="addressDetail" th:value="${address.getAddressDetail}" required>
  </div>
  <div>
    <label for="receiverName">수령인 이름</label>
    <input type="text" name="receiverName" id="receiverName" th:value="${address.getReceiverName}" required>
  </div>
  <div>
    <label for="receiverPhone">수령인 전화번호</label>
    <input type="text" id="receiverPhone" name="receiverPhone" th:value="${address.getReceiverPhone}" required>
  </div>

  <fieldset>
    <legend>기본 배송지 설정 여부</legend>
    <div>
      <label for="homeTrue">맞음</label>
      <input type="radio" name="home" id="homeTrue" value="1" th:checked="${address.home==true}">
    </div>
    <div>
      <label for="homeFalse">아님</label>
      <input type="radio" name="home" id="homeFalse" value="0" th:checked="${address.home==false}">
    </div>
  </fieldset>
  <fieldset>
    <legend>엘레베이터 유무 여부</legend>
    <div>
      <label for="elevatorTrue">있음</label>
      <input type="radio" name="elevator" id="elevatorTrue" value="1" th:checked="${address.elevator==true}">
    </div>
    <div>
      <label for="elevatorFalse">없음</label>
      <input type="radio" name="elevator" id="elevatorFalse" value="0"  th:checked="${address.elevator==false}">
    </div>
  </fieldset>

  <input type="hidden" name="addressId" th:value="${address.addressId}">
  <input type="hidden" name="userId" th:value="${address.userId}">
  <div>
    <button type="submit">저장하기</button>
    <a th:href="@{'delete.do' (address_id=${address.addressId}) }" >삭제하기</a>
  </div>
</form>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
    function DaumPostcode() {
      new daum.Postcode({
        oncomplete: function(data) {
          // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

          // 각 주소의 노출 규칙에 따라 주소를 조합한다.
          // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
          var addr = ''; // 주소 변수
          var extraAddr = ''; // 참고항목 변수

          //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
          if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
            addr = data.roadAddress;
          } else { // 사용자가 지번 주소를 선택했을 경우(J)
            addr = data.jibunAddress;
          }

          // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
          if(data.userSelectedType === 'R'){
            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
              extraAddr += data.bname;
            }
            // 건물명이 있고, 공동주택일 경우 추가한다.
            if(data.buildingName !== '' && data.apartment === 'Y'){
              extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
            }
            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
            if(extraAddr !== ''){
              extraAddr = ' (' + extraAddr + ')';
            }
            // 조합된 참고항목을 해당 필드에 넣는다.
            document.getElementById("addressDetail").value = extraAddr;

          } else {
            document.getElementById("addressDetail").value = '';
          }

          // 우편번호와 주소 정보를 해당 필드에 넣는다.
          document.getElementById('postCode').value = data.zonecode;
          document.getElementById("address").value = addr;
          // 커서를 상세주소 필드로 이동한다.
          document.getElementById("addressDetail").focus();
        }
      }).open();
    }
  </script>
</div>
</html>