<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>사용자 배송지 수정</title>
</head>
<body>
<h2>사용자 배송지 수정</h2>
<form action="/address/user_yes/mypage/modify.do" method="post"  enctype="multipart/form-data">
  <div>
    <div th:text="${session.loginUser.userId}" th:readonly="true"></div>
  </div>
  <div>
    <label for="aname">주소지 이름</label>
    <input type="text" name="aname" id="aname" th:value="${address.getAname}" required>
  </div>
  <div>
    <label for="postCode">우편번호</label>
    <input type="text" name="postCode" id="postCode" th:value="${address.getPostCode}" required>
  </div>
  <div>
    <label for="address">주소</label>
    <input type="text" name="address" id="address" th:value="${address.getAddress}" required>
  </div>
  <div>
    <label for="addressDetail">상세주소</label>
    <input type="text" name="addressDetail" id="addressDetail" th:value="${address.getAddressDetail}" required>
  </div>
  <div>
    <label for="receiverName">수령인 이름</label>
    <input type="text" name="receiverName" id="receiverName" th:value="${address.getReceiverName}" required>
  </div>
  <div>
    <label for="receiverPhone">수령인 전화번호</label>
    <input type="text" id="receiverPhone" name="receiverPhone" th:value="${address.getReceiverPhone}" required>
  </div>

  <fieldset>
    <legend>기본 배송지 설정 여부</legend>
    <div>
      <label for="homeTrue">맞음</label>
      <input type="radio" name="home" id="homeTrue" value="1" th:checked="${address.home==true}">
    </div>
    <div>
      <label for="homeFalse">아님</label>
      <input type="radio" name="home" id="homeFalse" value="0" th:checked="${address.home==false}">
    </div>
  </fieldset>
  <fieldset>
    <legend>엘레베이터 유무 여부</legend>
    <div>
      <label for="elevatorTrue">있음</label>
      <input type="radio" name="elevator" id="elevatorTrue" value="1" th:checked="${address.elevator==true}">
    </div>
    <div>
      <label for="elevatorFalse">없음</label>
      <input type="radio" name="elevator" id="elevatorFalse" value="0"  th:checked="${address.elevator==false}">
    </div>
  </fieldset>

  <input type="hidden" name="addressId" th:value="${address.addressId}">
  <input type="hidden" name="userId" th:value="${address.userId}">
  <div>
    <button type="submit">저장하기</button>
    <a th:href="@{'delete.do' (address_id=${address.addressId}) }" >삭제하기</a>
  </div>
</form>
</body>
</html>