<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>사용자 배송지 입력</title>
</head>
<body>
<h2>사용자 배송지 입력</h2>
<form action="/address/user_yes/mypage/register.do" method="post"  enctype="multipart/form-data">
  <div>
    <label for="userId" th:text="${session.loginUser.userId}"></label>
    <input type="text" name="userId" id="userId" required>
  </div>
  <div>
    <label for="aname">주소지 이름</label>
    <input type="text" name="aname" id="aname" required>
  </div>
  <div>
    <label for="postCode">우편번호</label>
    <input type="text" name="postCode" id="postCode" required>
  </div>
  <div>
    <label for="address">주소</label>
    <input type="text" name="address" id="address" required>
  </div>
  <div>
    <label for="addressDetail">상세주소</label>
    <input type="text" name="addressDetail" id="addressDetail" required>
  </div>
  <div>
    <label for="receiverName">수령인 이름</label>
    <input type="text" name="receiverName" id="receiverName" required>
  </div>
  <fieldset>
    <label for="receiverPhone">수령인 전화번호</label>
    <input type="text" id="receiverPhone" name="receiverPhone" required>
    <button type="button">인증번호 받기</button>
  </fieldset>

  <div>
    <label for="home">기본 배송지 설정 여부</label>
    <input type="checkbox" name="home" id="home" value="1">
  </div>
  <div>
    <label for="elevator">엘레베이터 유무 여부</label>
    <input type="checkbox" name="elevator" id="elevator" value="1">
  </div>


  <button type="submit">저장하기</button>
  <a href="#">취소하기</a>
</form>
</body>
</html>