<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.gagooda_project.mapper.DeliveryMapper">
    <resultMap id="deliveryMap" type="DeliveryDto" autoMapping="true">
        <id column="order_id" property="orderId"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="d_det" property="dDet"/>
        <result column="user_id" property="userId"/>
        <association property="orderDto"
                     select="com.example.gagooda_project.mapper.OrderMapper.findById"
                     column="order_id"
                     fetchType="lazy"/>
    </resultMap>

    <insert id="updateOne" parameterType="DeliveryDto">
        UPDATE delivery SET invoice=#{invoice},
                            start_date=#{startDate},
                            end_date=#{endDate},
                            request=#{request},
                            d_det=#{dDet}
                            WHERE order_id=#{orderId}
    </insert>
    <delete id="deleteOne">
        DELETE FROM delivery WHERE order_id = #{orderId}
    </delete>
    <select id="findByOrderId" resultMap="deliveryMap">
        SELECT * FROM delivery WHERE order_id=#{orderId}
    </select>
    <select id="listAll" resultType="com.example.gagooda_project.dto.DeliveryDto" resultMap="deliveryMap">
        SELECT * FROM delivery;
    </select>
    <select id="listByDDet" resultType="com.example.gagooda_project.dto.DeliveryDto" resultMap="deliveryMap">
        SELECT * FROM delivery WHERE d_det=#{dDet}
    </select>
    <select id="pageByUserIdAndDate" resultType="com.example.gagooda_project.dto.DeliveryDto">
        SELECT * FROM delivery WHERE user_id = #{userId}
        <choose>
            <when test=" startDate != null and endDate !=null">AND reg_date Between #{startDate} AND #{endDate} </when>
            <when test="dCode != null and dCode.equals('end')"></when>
        </choose>
    </select>
</mapper>

