<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.gagooda_project.mapper.DeliveryMapper">
    <resultMap id="deliveryMap" type="DeliveryDto" autoMapping="true">
        <id column="order_id" property="orderId"/>
        <result column="user_name" property="userName"/>
        <result column="user_phone" property="userPhone"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_id" property="userId"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="d_det" property="dDet"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_phone" property="userPhone"/>
        <result column="invoice" property="invoice"/>
        <association property="orderDto"
                     select="com.example.gagooda_project.mapper.OrderMapper.findById"
                     column="order_id"
                     fetchType="lazy"/>
        <association property="dDetDto"
                     select="com.example.gagooda_project.mapper.CommonCodeMapper.findByDetCode"
                     column="d_det"
                     fetchType="lazy"/>
    </resultMap>

    <insert id="updateOne" parameterType="DeliveryDto">
        UPDATE delivery SET invoice=#{invoice},
                            start_date=#{startDate},
                            end_Date=#{endDate},
                            d_det=#{dDet}
                            WHERE order_id=#{orderId}
    </insert>
    <insert id="insertOne">
        INSERT INTO delivery (order_id, user_id, user_name, user_email, user_phone, request)
        VALUES (#{orderId},#{userId},#{userName},#{userEmail},#{userPhone},#{request})
    </insert>
    <delete id="deleteOne">
        DELETE FROM delivery WHERE order_id = #{orderId}
    </delete>
    <select id="findByOrderId" resultMap="deliveryMap">
        SELECT * FROM delivery WHERE order_id=#{orderId}
    </select>
    <select id="listAll" resultMap="deliveryMap" parameterType="hashmap">
        SELECT * FROM delivery
        <where>
            <if test="searchDiv !='' and searchWord != ''">
                AND ${searchDiv} LIKE #{searchWord}
            </if>
            <if test="dateType !='' and startDate != '' and endDate !='' and !startDate.equals(endDate)">
                AND ${dateType} BETWEEN ${startDate} AND #{endDate}
            </if>
            <if test="dateType !='' and startDate != '' and endDate !='' and startDate.equals(endDate)">
                AND ${dateType} LIKE #{startDate}
            </if>
            <if test="dDet !='' ">
                AND d_det in (${dDet})
            </if>
        </where>
    </select>
    <select id="countListAll" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM delivery
        <where>
            <if test="searchDiv != '' and searchWord != ''">
                AND ${searchDiv} LIKE ${searchWord}
            </if>
            <if test="dateType !='' and startDate !='' and endDate !='' and !startDate.equals(endDate)">
                AND ${dateType} BETWEEN #{startDate} AND ${endDate}}
            </if>
            <if test="dateType !='' and startDate !='' and endDate !='' and startDate.equals(endDate)">
                AND ${dateType} LIKE #{startDate}
            </if>
            <if test="dDet != ''">
                AND d_Det in (${dDet})
            </if>
        </where>
    </select>
</mapper>

