<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.gagooda_project.mapper.OptionProductMapper">
    <resultMap id="optionProductMap" type="OptionProductDto" autoMapping="true">
        <result property="optionCode" column="option_code" />
        <result property="productCode" column="product_code" />
    </resultMap>
    <update id="updateOne">
        UPDATE option_product
        SET opname = #{opname},
            price = #{price},
            stock = #{stock}
        WHERE option_code=#{optionCode} AND product_code=#{productCode}
    </update>
    <update id="updateStock">
        UPDATE option_product SET stock = #{count} WHERE option_code=#{optionCode}
    </update>

    <select id="listByProductCode" resultMap="optionProductMap">
        SELECT * FROM option_product WHERE product_code=#{productCode}
    </select>

    <insert id="insertOne" parameterType="OptionProductDto">
        INSERT INTO option_product (option_code, product_code, opname, price, stock)
        VALUES (#{optionCode}, #{productCode}, #{opname}, #{price}, #{stock})
    </insert>

    <delete id="deleteByProductCode">
        DELETE FROM option_product WHERE product_code=#{productCode}
    </delete>
    <delete id="deleteById">
        DELETE FROM option_product WHERE option_code=#{optionCode}
    </delete>

    <select id="findById" resultMap="optionProductMap">
        SELECT * FROM option_product WHERE option_code=#{id}
    </select>



</mapper>
