<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.gagooda_project.mapper.OrderDetailMapper">
    <resultMap id="orderDetailMap" type="OrderDetailDto" autoMapping="true">
        <id column="order_detail_id" property="orderDetailId"/>
        <result column="order_id" property="orderId"/>
        <result column="product_code" property="productCode"/>
        <result column="option_code" property="optionCode"/>
        <result column="total_price" property="totalPrice"/>
        <result column="option_name" property="optionName"/>
        <association property="imageList"
                     select="com.example.gagooda_project.mapper.ImageMapper.listByImgCode"
                     column="product_code"
                     fetchType="lazy"/>
    </resultMap>
    <delete id="deleteByOrderId">
        DELETE from order_detail WHERE order_id = #{orderId}
    </delete>

    <!--  List<OrderDetailDto> findByOrderId(int id);  -->
    <select id="findByOrderId" resultMap="orderDetailMap" >
        SELECT * FROM order_detail WHERE order_id = #{orderId}
    </select>

    <!--  OrderDetailDto findByOrderDetailId(int id);  -->
    <select id="findById" resultMap="orderDetailMap" >
        SELECT * FROM order_detail WHERE order_detail_id = #{id}
    </select>

    <!--  int countByOrderId(int id);  -->
    <select id="countByOrderId" resultType="int">
        SELECT COUNT(*) FROM order_detail WHERE order_id = #{orderId}
    </select>

    <!--  int insertOne(OrderDetailDto dto);  -->
    <insert id="insertOne" parameterType="OrderDetailDto" useGeneratedKeys="true" keyProperty="orderDetailId">
        INSERT INTO order_detail (order_id, product_code, option_code, cnt, price, total_price, option_name)
        VALUES (#{orderId}, #{productCode}, #{optionCode}, #{cnt}, #{price}, #{totalPrice}, #{optionName})
    </insert>
</mapper>