<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.gagooda_project.mapper.ProductMapper">
    <resultMap id="productMap" type="ProductDto">
        <id column="product_code" property="productCode"/>
        <result column="delivery_pc" property="deliveryPc"/>
        <result column="supply_pc" property="supplyPc"/>
        <result column="sales_pc" property="salesPc"/>
        <result column="img_code" property="imgCode"/>
        <result column="info_img_code" property="infoImgCode"/>
        <result column="p_det" property="pDet"/>
        <result column="reg_date" property="regDate"/>
        <result column="reg_id" property="regId"/>
        <result column="mod_date" property="modDate"/>
        <result column="mod_id" property="modId"/>
    </resultMap>
    <insert id="insertOne" parameterType="productDto">
        INSERT INTO product
            (product_code, name, place, delivery_pc, supply_pc, sales_pc, img_code, info_img_code, reg_id, mod_id)
        VALUES
            (#{productCode}, #{name}, #{place}, #{deliveryPc}, #{supplyPc}, #{salesPc}, #{imgCode}, #{infoImgCode}, #{regId}, #{modId})
    </insert>
    <update id="updateOne" parameterType="productDto">
        UPDATE product SET name=#{name},
                           place=#{place},
                           delivery_pc=#{deliveryPc},
                           supply_pc=#{supplyPc},
                           sales_pc=#{salesPc},
                           rot=#{rot},
                           margin=#{margin},
                           p_det=#{pDet},
                           mod_date=#{modDate},
                           mod_id=#{modId}
                       WHERE
                           product_code=#{productCode}
    </update>
    <delete id="deleteById">
        DELETE FROM product WHERE product_code=#{productCode}
    </delete>
    <select id="findById" resultMap="productMap">
        SELECT * FROM product WHERE product_code=#{productCode}
    </select>
    <select id="listAll" resultMap="productMap">
        SELECT * FROM product
    </select>
</mapper>