<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.gagooda_project.mapper.ReviewMapper">

    <resultMap id="reviewMap" type="ReviewDto" autoMapping="true">
         <result column="review_id" property="reviewId" />
         <result column="user_id" property="userId" />
         <result column="option_code" property="optionCode" />
         <result column="product_code" property="productCode" />
         <result column="reg_date" property="regDate" />
         <result column="img_code" property="imgCode" />
    </resultMap>

    <insert id="insertOne" parameterType="ReviewDto" useGeneratedKeys="true" keyProperty="reviewId">
        INSERT INTO
            review ( user_id, option_code, product_code, rate, content, img_code)
            VALUES ( #{userId}, #{optionCode}, #{productCode}, #{rate}, #{content}, #{imgCode})
    </insert>
    <update id="updateOne" parameterType="ReviewDto">
        UPDATE review SET rate=#{rate}, content=#{content} WHERE review_id=#{reviewId}
    </update>
    <delete id="deleteOne">
        DELETE FROM review WHERE review_id=#{id}
    </delete>
    <select id="listByProductCode" parameterType="String" resultMap="reviewMap">
        SELECT * FROM review WHERE product_code= #{productCode}
    </select>
<!--    <select id="pageByProductId" parameterType="String" resultMap="reviewMap">-->
<!--        SELECT * FROM review WHERE product_code= #{productCode} ORDER BY ${rate} DESC-->
<!--    </select>-->
    <select id="listAll" resultMap="reviewMap">
        SELECT * FROM review
    </select>
<!--    <select id="pageAll" resultMap="reviewMap">-->
<!--        SELECT * FROM review ORDER BY #{regDate} DESC-->
<!--    </select>-->
    <select id="findById" parameterType="Integer" resultMap="reviewMap">
        SELECT * FROM review WHERE review_id=#{id}
    </select>
</mapper>