<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.gagooda_project.mapper.UserMapper">
    <resultMap id="userMap" type="userDto" autoMapping="true">
        <id property="userId" column="user_id"/>
        <result property="cardName" column="card_name"/>
        <result property="cardNum" column="card_num"/>
        <result property="cardYear" column="card_year"/>
        <result property="cardMonth" column="card_month"/>
        <result property="gDet" column="g_det"/>
        <result property="msDet" column="ms_det"/>
        <result property="mdrDet" column="mdr_det"/>
        <result property="regDate" column="reg_date"/>
        <result property="modDate" column="mod_date"/>
    </resultMap>
    <insert id="insertOne" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user (email, name, nickname, pw, phone)
        VALUES (#{email},#{name},#{nickname},#{pw},#{phone})
    </insert>
    <update id="updateOne">
        UPDATE user SET name=#{name},
                        nickname=#{nickname},
                        phone=#{phone},
                        emailcheck=#{emailCheck}
                    WHERE user_id=#{userId};
    </update>
    <update id="updatePw">
        UPDATE user SET pw=#{pw} WHERE user_id=#{id};
    </update>
    <delete id="deleteById">
        DELETE FROM user WHERE user_id=#{id};
    </delete>
    <select id="findByEmailAndPw" resultMap="userMap">
        SELECT * FROM user WHERE email=#{email} AND pw=#{pw}
    </select>
    <select id="findByEmailAndName" resultMap="userMap">
        SELECT * FROM user WHERE email=#{email} AND name=#{name}
    </select>
    <select id="listAll" resultMap="userMap">
        SELECT * FROM user
    </select>
    <select id="pageAll" resultMap="userMap">

    </select>
</mapper>
<!--

-->