.star-ratings {
    unicode-bidi: bidi-override;
    color: #ccc;
    position: relative;
    margin: 0;
    padding: 0;
}
.star-ratings .fill-ratings {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-ratings .fill-ratings span {
   display: inline-block;
}

.star-ratings .empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
}