<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/star_rate.css">
    <script src="/js/star_rate.js" defer></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
<!--    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>-->
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
    <link rel="icon" href="/img/main/favicon.png">
</head>
<body style="overflow-x:hidden; font-family: 'Nanum Gothic', sans-serif;">
<header>
    <th:block th:replace="~{/layout/headerNav.html}"></th:block>
</header>
<main style="padding-top: 112px">
    <th:block layout:fragment="content"></th:block>
</main>
<!--푸터-->
<div class="d-flex text-white justify-content-center align-items-center mt-5"
     style="height: 40vh; background-color: #FFFAF5;">
    푸터
</div>
<!--푸터 end-------------------------------------->
</body>
<script th:inline="javascript">
    if([[${msg}]] != null) {
        alert([[${msg}]]);
    }
</script>
</html>