<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
    <ul>
        <li><a href="/address/user_yes/mypage/list.do">배송지 리스트</a></li>
        <li><a href="/address/user_yes/mypage/register.do">배송지 등록폼</a></li>
    </ul>
    <th:block layout:fragment="myPageContent"></th:block>
</div>
</html>