<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
    <ul>
        <li><a href="/order/user_yes/list.do">주문 내역</a></li>
        <li><a href="/exchange/user_yes/mypage/list.do">유저 교환 목록</a></li>
        <li><a href="/refund/user_yes/mypage/list.do">유저 환불 목록</a></li>
        <li>배송 내역</li>
        <li><a th:href="@{'/product_inquiry/list.do' (productCode='HA10C15EE')}">상품 문의 내역</a></li>
        <li><a href="/address/user_yes/mypage/list.do">내 배송지 관리</a></li>
        <li>회원 정보 수정</li>
        <li>회원 탈퇴</li>
    </ul>
    <th:block layout:fragment="myPageContent"></th:block>
</div>
</html>