<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>주문 완료 페이지</title>
</head>
<div layout:fragment="content">
    <div class="container">
        <h1 class="text-center mt-2">주문 완료</h1>
        <h3 class="text-center mt-2">저희 GAGOODA 쇼핑몰에서 주문해 주셔서 감사합니다!</h3>

        <h3 class="mt-4">주문하신 상품 목록</h3>
        <hr class="mb-0" style="margin-top: 0; background : #b68c68; height: 5px">
        <table class="table">
            <thead>
            <th scope="col" th:text="'전체 '+${itemCount}+'개'"></th>
            <th scope="col">상품 정보</th>
            <th scope="col" class="text-center">수량</th>
            <th scope="col" class="text-center">주문금액</th>
            </thead>
            <tbody>
            <tr th:each="orderDetail, stat :${orderDetailList}">
                <td clss="text-center" th:text="|${stat.count}|"></td>
                <td>
                    <img th:src="@{'/img/product/{file}'(file=${orderDetail.imageList[0].imgPath})}"
                         style="width: 50px; height:50px; object-fit: cover">
                    <input type="text" th:value="${orderDetail.optionName}" id="optionName" name="optionName" readonly>
                </td>
                <td class="text-center" th:text="${orderDetail.cnt}"></td>
                <td class="text-center" th:text="${orderDetail.totalPrice}"></td>
            </tr>
            </tbody>
        </table>
        <div class="float-end">
            <div>총 주문 금액: <strong id="totalPrice" class="totalPrice" style="color: #B68C68" th:text="${totalPrice}"></strong> 원 </div>
        </div>
        <button class="btn text-white" style="background-color: #B68C68;" th:onclick="location.href=[[@{'/order/user_yes/mypage/list.do'}]]">주문 목록 페이지</button>

    </div>

</div>
</html>