<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/mypageLayout}">
<head>
    <meta charset="UTF-8">
    <title>주문 상세보기</title>
</head>
<div layout:fragment="myPageContent">
    <h1 class="mb-4"> 주문 상세보기</h1>
    <!--주문 일자, 번호, 상태-->

    <div class="d-flex justify-content-start align-items-center" style="background-color: #FFFAF5; height: 50px; font-weight: bold">
        <div class="mx-3">
            주문 일자: <span th:text="${#calendars.format(order.regDate,'yyyy-MM-dd')}" id="regDate"></span>
        </div>
        <div class="mx-3">
            주문 번호: <span id="orderId"  th:text="${order.orderId}"></span>
        </div>
        <div class="mx-3">
            주문 상태: <span id="oDet" th:text="${oCodeList[order.ODet.substring(1)].detName}"></span>
        </div>
    </div>
    <!--주문 일자, 번호, 상태 end----------------->
    <!--상세 주문 물품 리스트-->
    <h3 class="mt-4">주문 상품 정보</h3>
    <div>
        <hr class="mb-0" style="margin-top: 0; background : #b68c68; height: 5px">
        <table class="table mt-0">
            <thead>
                <th scope="col" class="text-center">순번</th>
                <th scope="col">상품정보</th>
                <th scope="col" class="text-center">수량</th>
                <th scope="col" class="text-center">가격</th>
            </thead>
            <tbody>
                <tr class="align-middle" th:each="orderDetail, stat :${orderDetailList}">
                    <td class="text-center" th:text="|${stat.count}|"></td>
                    <td>
                        <img th:src="@{'/img/product/{file}'(file=${orderDetail.imageList[0].imgPath})}"
                             class="rounded" style="width: 50px; height:50px; object-fit: cover">
                        <span th:text="${orderDetail.optionName}" id="optionName" name="optionName" ></span>
                    </td>
                    <td class="text-center" th:text="${orderDetail.cnt}"></td>
                    <td class="text-center" th:text="${orderDetail.totalPrice}+'원'"></td>
                    <td>
                        <div>
                            <button class="btn text-white" style="background-color: #B68C68;"
                                    th:onclick="location.href=[[@{'/refund/user_yes/mypage/{orderDetailId}/register.do'(orderDetailId=${orderDetail.orderDetailId})}]]">교환/환불</button>
                        </div>
                        <div class="mt-1">
                            <button class="btn border"
                                    th:classappend="${(#strings.equals(delivery.DDet,'d3'))?'disabled':''}"
                                    th:onclick="location.href=[[@{'/review/user_yes/{productCode}/register.do'(orderId=${order.orderId},productCode=${orderDetail.productCode})}}]]"
                               style="background-color: #ffffff; color: #b68c68;">리뷰 작성하기</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex flex-column align-items-end pt-3 px-5"  style="background-color: #FFFAF5">
            <div class="mb-3">
                <b>총 주문 금액:</b> <span id="totalPrice" th:text="${order.totalPrice}"></span>원
            </div>
            <div class="mb-3">
                <th:block th:if="${payment.amount != null}">
                    <b>총 결제 금액:</b> <span id="pPaidPrice" th:text="${payment.amount}"></span>원
                </th:block>
                <th:block th:unless="${payment.amount != null}">
                    <b>총 결제 금액:</b> <span id="paidPrice" th:text="${order.totalPrice}"></span>원
                </th:block>
            </div>
        </div>
    </div>
    <!--상세 주문 물품 리스트 end------------>

    <!--수령인 정보 ----------------------------------------------------->
    <h3 class="mt-4">배송지 정보</h3>
    <hr class="mb-0" style="margin-top: 0; background : #b68c68; height: 5px">
    <table class="table">
        <tr>
            <th class="col-2">받는 사람</th>
            <td class="col-10" th:text="${order.receiverName}"></td>
        </tr>
        <tr>
            <th>연락처</th>
            <td th:text="${order.receiverPhone}"></td>
        </tr>
        <tr>
            <th>우편번호</th>
            <td th:text="${order.postCode}"></td>
        </tr>
        <tr>
            <th>주소</th>
            <td th:text="${order.address}"></td>
        </tr>
        <tr>
            <th>상세주소</th>
            <td th:text="${order.addressDetail}"></td>
        </tr>
        <tr>
            <th>총 주문 금액</th>
            <td th:text="${order.totalPrice}"></td>
        </tr>
        <tr>
            <th>엘레베이터</th>
            <th:block th:if="${order.elevator == true}">
                <td th:text="' 있음'"></td>
            </th:block>
            <th:block th:if="${order.elevator == false}">
                <td th:text="'없음'"></td>
            </th:block>
        </tr>
        <tr>
        <th>배송 요청사항</th>
        <th:block th:if="${delivery.request != null}">
            <td th:text="${delivery.request}"></td>
        </th:block>
        <th:block th:unless="${delivery.request != null}">
            <td th:text="'없음'"></td>
        </th:block>
    </tr>
    </table>
    <!--수령인 정보 end------------------------------------->
    <!--카드 영수증-->
    <h3 class="mt-4">결제영수증 정보</h3>
    <hr class="mb-0" style="margin-top: 0; background : #b68c68; height: 5px">
    <div class="d-flex justify-content-between align-items-center pt-3" style="background-color: #FFFAF5; height: 80px;">
        <span class="ms-3">해당 주문건에 대해 구매 카드 영수증 확인이 가능합니다.</span>
        <a class="receiptUrl btn text-white me-3" href="javascript:void(0)" th:data-receipt="${payment.receiptUrl}" style="background-color: #B68C68;">카드 영수증</a>

    </div>
    <!--button group-->
    <div class="d-flex justify-content-end mt-4 mb-5 " >
        <button class="btn mx-3 text-white"  style="background-color: #B68C68;" th:onclick="location.href=[[@{'/order/user_yes/mypage/list.do'}]]">주문 목록 돌아가기</button>
        <th:block th:if="${!(#strings.equals(order.oDet,'o4')||(#strings.equals(order.oDet,'o5')))}">
            <button class="btn me-2 col-3" style="background-color: #FFFAF5; color: #B68C68; border-color:#eeeeee;" th:onclick="cancelRecheck([[${order.orderId}]])">주문 취소 요청</button>
        </th:block>
    </div>
    <!--button group end--------------------------------------->
    <script>
        function cancelRecheck(orderId){
            if(confirm("주문을 정말로 취소하시겠습니까?")) {
                location.href = '/order/user_yes/mypage/' + orderId + '/modify.do'
            }
        }
        let receiptUrl = document.querySelectorAll(".receiptUrl");
        receiptUrl.forEach(url=>{
            url.addEventListener("click",()=>{
                window.open(url.dataset.receipt, "cancelReceipt", "width=450, height=600, resizable=no")
            })
        })
    </script>

</div>
</html>