<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/mypageLayout}">

<head>
    <meta charset="UTF-8">
    <title>주문 목록</title>
</head>
<div layout:fragment="myPageContent">
    <h1>주문 목록</h1>
    <!--기간별 조회-->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" th:href="@{ '' (dates=7) }">7일</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  th:href="@{ '' (dates=15) }">15일</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{ '' (dates=30) }" >1개월</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{ '' (dates=90) }">3개월</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{ '' (dates=365) }" >1년</a>
        </li>
    </ul>
    <!--기간별 조회 end--------------->
    <!--주문목록 table-->
    <table class="table">
        <thead>
            <th scope="col">주문번호</th>
            <th scope="col">주문날짜</th>
            <th scope="col">상품정보</th>
            <th scope="col">주문가격</th>
            <th scope="col">주문상태</th>
            <th scope="col">유저아이디</th>
            <th scope="col">주문 관리</th>
        </thead>
        <tbody>
            <tr th:each="order:${orderList}">
                <!--=====================FIX:style cursor : pointer row 전체에 생김=============================-->
                <td th:text="${order.orderId}" class="text-primary" style="cursor:pointer;"
                    th:onclick="location.href = [[@{'/order/user_yes/mypage/{orderId}/detail.do' (orderId=${order.orderId})}]]"></td>
                <td th:text="${#dates.format(order.regDate, 'yyyy-MM-dd')}"></td>
                <td>
                    <img th:src="@{'/img/product/{file}'(file=${order.imgPath})}"
                         style="width: 50px; height:50px; object-fit: cover;">
                    <th:block th:if="${order.orderDetailList != null}">
                         <span th:text="'상품 ' +${order.orderDetailList.size()} +'건'"></span>
                    </th:block>
                </td>
                <td th:text="${order.totalPrice}+'원'"></td>
                <td th:text="${oCodeList[order.oDet.substring(1)].detName}"></td>
                <td th:text="${order.userId}"></td>
                <td>
                    <!--배송 완료이고, enddate가 있으면 조건 check => today's date - enddate >30 일 때, disable-->
                    <button class="btn btn-primary">배송 조회</button>
                    <button class="btn btn-primary"
                            th:classappend="${(#strings.equals(order.oDet,'o4')||(#strings.equals(order.oDet,'o5')))?'disabled':''}">주문 취소</button>
                </td>


            </tr>
        </tbody>
    </table>
    <!--주문 목록 table end----------------->
    <!--pagination-->
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation ">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:href="@{${paging.queryString}(page=${paging.prevPage})}" th:classappend="${(paging.page==1)?'disabled':''}">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{${paging.queryString}(page=${paging.nextPage})}" th:classappend="${(!(paging.next))?'disabled':''}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <!--pagination end--------------->
    <script th:inline="javascript">
        function active(aTag){
            aTag.classList.add("active");
        }
    </script>
</div>
</html>