<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<label for="myAddressList">내 배송지 목록</label>
<select id="myAddressList" name="myAddressList" onchange="selectedAddress()" >
    <option disabled selected="selected" th:text="'----선택-----'"></option>
    <th:block th:each="address:${addressList}">
        <th:block th:if="${address.home == true}">
            <option th:value="${address.addressId}" th:text="'기본:' + ${address.aname}"
                    th:data-address="${address}"></option>
        </th:block>
        <th:block th:unless="${address.home == true}">
            <option th:value="${address.addressId}" th:text="${address.aname}" th:data-address="${address}"></option>
        </th:block>
    </th:block>
</select>
<h3>배송지 입력란</h3>
<th:block th:if="${addressId != 0 && address !=null}">
    <div>
        <input type="hidden" id="nAddressId" name="addressId" class="add">
    </div>
    <div>
        <label for="postCode">우편 번호</label>
        <input readonly type="text" id="nPostCode" name="postCode" class="add" th:value="${address.postCode}" pattern="[0-9]{5}">
    </div>
    <div>
        <label for="address">주소</label>
        <input readonly type="text" id="nAddress" name="address" class="add" th:value="${address.address}">
    </div>
    <div>
        <label for="addressDetail">상세 주소</label>
        <input readonly type="text" id="nAddressDetail" name="addressDetail" class="add" th:value="${address.addressDetail}">
    </div>
    <div>
        <label for="receiverName">수령인 이름</label>
        <input readonly type="text" id="nReceiverName" name="receiverName" class="add" th:value="${address.receiverName}">
    </div>
    <div>
        <label for="receiverPhone">수령인 전화번호</label>
        <input readonly type="text" id="nReceiverPhone" name="receiverPhone" class="add" th:value="${address.receiverPhone}" pattern="[0-9]{11}">
    </div>
    <div>
        <label for="elevator">엘리베이터 유무</label>
        <input readonly type="text" id="nElevator" name="elevator" class="add" th:value="${address.elevator}">
    </div>
</th:block>
<th:block th:unless="${addressId != 0 && address != null}">
    <div>
        <input type="hidden" id="addressId" name="addressId" class="add">
    </div>
    <div>
        <label for="postCode">우편 번호</label>
        <input readonly type="text" id="postCode" name="postCode" class="add" pattern="[0-9]{5}">
    </div>
    <div>
        <label for="address">주소</label>
        <input readonly type="text" id="address" name="address" class="add" >
    </div>
    <div>
        <label for="addressDetail">상세 주소</label>
        <input readonly type="text" id="addressDetail" name="addressDetail" class="add">
    </div>
    <div>
        <label for="receiverName">수령인 이름</label>
        <input readonly type="text" id="receiverName" name="receiverName" class="add" >
    </div>
    <div>
        <label for="receiverPhone">수령인 전화번호</label>
        <input readonly type="text" id="receiverPhone" name="receiverPhone" class="add" pattern="[0-9]{11}">
    </div>
    <div>
        <label for="elevator">엘리베이터 유무</label>
        <input readonly type="text" id="elevator" name="elevator" class="add" >
    </div>
</th:block>

</html>