<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>주문 등록</title>
</head>
<div layout:fragment="content">
    <h1 class="text-center">주문서 작성</h1>
    <h3 class="text-center mt-2">배송/결제 정보를 정확하게 입력해주세요.</h3>
    <h3 class="mt-4">배송지 입력</h3>
    <button type="button" name="setAddressBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">새로운 배송지입력</button>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">새로운 배송지 입력</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" th:if="${session.loginUser!=null}" id="newAddressRegisterContainer">
                    <th:block th:include="/order/user/newAddress"></th:block>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div id="addressListContainer">
        <th:block th:include="/order/user/newAddressList"></th:block>
    </div>
    <!--주문 form -->
    <!--    <form name="orderRegisterForm" enctype="multipart/form-data" action="/order/user_yes/register.do"-->
    <!--          method="post" onsubmit="return validateForm();">-->
    <form name="orderRegisterForm" enctype="multipart/form-data" action="javascript:void(0)"
          method="post" onsubmit="return validateForm();">
        <input type="hidden" id="addressId" name="addressId" class="realAdd">
        <input type="hidden" id="postCode" name="postCode" class="realAdd" th:required="required" >
        <input type="hidden" id="address" name="address" class="realAdd" th:required="required">
        <input type="hidden" id="addressDetail" name="addressDetail" class="realAdd"  th:required="required">
        <input type="hidden" id="receiverName" name="receiverName" class="realAdd"  th:required="required">
        <input type="hidden" id="receiverPhone" name="receiverPhone" class="realAdd"  th:required="required">
        <input type="hidden" id="elevator" name="elevator" class="realAdd" th:required="required">

        <!--배송지 입력란 end-->
        <div class="orderDetail">
            <!--주문 번호 생성-->
            <div>
                <label for="orderId">주문번호: </label>
                <input type="text" id="orderId" name="orderId"
                       th:with="today=${#dates.format(#dates.createNow(), 'yyMMddmmss')}" th:value="${today}+${ranString}" readonly>
            </div>
            <!--주문할 상품 정보들-->
            <th:block th:each="cartItem:${cartList}">
                <input type="hidden" th:value="${cartItem.cartId}" name="cartItem" readonly>
            </th:block>
            <h3 class="ms-2 mt-4">주문할 상품 정보</h3>
            <div>
                <hr class="mb-0" style="margin-top: 0; background : #b68c68; height: 5px">
                <table class="table">
                    <thead>
                    <th scope="col" class="text-center">NO</th>
                    <th>상품 정보</th>
                    <th scope="col">수량</th>
                    <th scope="col">상품별 금액</th>
                    </thead>
                    <tbody>
                    <tr class="align-middle" th:each="cart, stat :${cartList}">
                        <td class="text-center" th:text="|${stat.count}|"></td>
                        <td class="d-flex" colspan="2">
                            <div class="mt-2">
                                <img th:src="@{'/img/product/{file}'(file=${cart.imageList[1].imgPath})}"
                                     style="width: 50px; height:50px;object-fit: cover">
                            </div>
                            <div class="ms-3" >
                                <input class="form-control-plaintext" type="text" th:value="${cart.product.pname}" name="orderDetail.productCode"
                                       id="orderDetail.productCode" placeholder="productCode" readonly>
                                <input class="form-control-plaintext" type="text" th:value="${cart.optionProduct.opname}" name="orderDetail.optionCode"
                                       id="orderDetail.optionCode" placeholder="optionCode" readonly>
                            </div>
                        </td>
                        <td class="text-center"><input class="form-control-plaintext" type="number" th:value="${cart.cnt}" name="orderDetail.cnt" id="orderDetail.cnt"
                                                       readonly></td>
                        <td class="text-center">
                            <input class="form-control-plaintext" type="number" th:value="${cart.optionProduct.price * cart.cnt}"
                                   name="orderDetail.totalPrice" id="orderDetail.totalPrice" readonly>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--주문할 상품 정보들 end--------->
            <!--주문 정보-->
            <div >
                <!--주문자 정보-->
                <h3 class="ms-2 mt-4">주문자 정보</h3>
                <div>
                    <hr class="mb-0" style="margin-top: 0; background : #b68c68; height: 5px">
                    <div class="ms-3 my-3">
                        <label for="userName" class="form-label">주문자 이름</label>
                        <input type="text" class="form-control" th:value="${loginUser.uname}" name="userName" id="userName" readonly>
                        <input type="hidden"  th:value="${loginUser.userId}" name="userId" id="userId">
                    </div>
                    <div class="ms-3 mb-3">
                        <label for="userPhone" class="form-label" >주문자 전화번호</label>
                        <input type="text" class="form-control" th:value="${loginUser.phone}" name="userPhone" id="userPhone"
                               readonly>
                    </div>
                    <div class="ms-3 mb-3">
                        <label for="userEmail" class="form-label">주문자 이메일</label>
                        <input type="text" class="form-control" th:value="${loginUser.email}" name="userEmail" id="userEmail"
                               readonly>
                    </div>
                </div>
                <!--총 결제 정보-->
                <h3 class="ms-2 mt-4">총 결제 정보</h3>
                <div>
                    <hr class="mb-0" style="margin-top: 0; background : #b68c68; height: 5px">
                    <div class="ms-3 my-3">
                        <label for="totalCnt" class="form-label">상품 총 수량</label>
                        <input class="form-control" th:value="${#aggregates.sum(cartList.![cnt])}" type="text" name="totalCnt" id="totalCnt"
                               required readonly>
                    </div>
                    <div class="ms-3 mb-3">
                        <label for="totalPrice" class="form-label">상품 총 가격</label>
                        <input class="form-control" type="text" th:value="${#aggregates.sum(cartList.![optionProduct.price * cnt])}"
                               name="totalPrice" id="totalPrice" required readonly>
                    </div>
                </div>
                <!--총 결제 정보 end------------------------------>
            </div>
            <!--주문 정보 end---------------------------------------------->
        </div>
        <!--배송 정보(배송요청)-->
        <div class="delivery">
            <fieldset>
                <legend>배송 요청 사항</legend>
                <div>
                    <label for="delivery.request"></label>
                    <textarea rows="5" cols="30" name="delivery.request" id="delivery.request"
                              placeholder="ex) 문앞에 두고 가주세요~!"></textarea>
                </div>
            </fieldset>
        </div>
        <!--배송 정보(배송요청) end-->
        <!--대표 주문 사진 정하기-->
        <input type="hidden" th:value="${cartList[0].imageList[0].imgPath}" name="imgPath"
               id="imgPath" placeholder="imgPath" readonly>
        <!--대표 주문 사진 정하기 end----------------------------->
        <!--결제전 주의사항-->
        <button type="submit">제출</button>
    </form>
    <!--주문 form end---------------->
    <script th:inline="javascript">
        //새로운 배송지 AJAX
        const addressListContainer = document.getElementById("addressListContainer");
        //load newAddressRegisterForm; function init()
        function init(){
            const newAddressRegisterForm = document.forms["newAddressRegisterForm"];
            newAddressRegisterForm.onsubmit=function(e){
                console.log("newAddress onsubmit버튼이 눌렸습니다.");
                registerAddress(e,newAddressRegisterForm);
            }
        }
        init();

        async function registerAddress(e, newAddressRegisterForm){
            e.preventDefault();
            let url = "/order/user_yes/addressRegister.do";
            const formData = new FormData(newAddressRegisterForm);
            const resp = await fetch(url, {method:"POST",body:formData});
            const address = await resp.json();
            console.log("resp.url: "+resp.url);
            console.log("json: "+address);
            if(address !=null){
                realAddressList[0].value = address.addressId;
                realAddressList[1].value = address.postCode;
                realAddressList[2].value = address.address;
                realAddressList[3].value = address.addressDetail;
                realAddressList[4].value = address.receiverName;
                realAddressList[5].value = address.receiverPhone;
                realAddressList[6].value = address.elevator;
                await loadAddressList();
            }
        }

        async function loadAddressList(){
            const resp = await fetch("/order/user_yes/addressList.do");
            const html = await resp.text();
            console.log("html: "+html);
            addressListContainer.innerHTML=html;
            console.log("addressListContainer.innerHTML: "+addressListContainer.innerHTML);
            console.log("addressListContainer.innerText: "+addressListContainer.innerText);

        }

        //선택된 배송지 input에 data 보여주기
        const currentAddressList = document.querySelectorAll(".add");
        currentAddressList.forEach(currentAddress=>{
            console.log("currentAddressList: "+currentAddress);
        })
        const realAddressList = document.querySelectorAll(".realAdd");
        function selectedAddress(){
            let addressSlt = document.getElementById("myAddressList");
            document.getElementById("addressId").value = addressSlt.options[addressSlt.selectedIndex].value;
            //console.log(addressSlt.options[addressSlt.selectedIndex].dataset.address, typeof(addressSlt.options[addressSlt.selectedIndex].dataset.address) );
            let address = addressSlt.options[addressSlt.selectedIndex].dataset.address.split("(")[1].split(")")[0].split(",");
            let addressMap = new Map();
            for (let add of address){
                let splitAdd = add.split("=");
                console.log(splitAdd);
                addressMap.set(splitAdd[0].trim(),splitAdd[1]);
            }
            console.log(addressMap);
            console.log(addressMap.get("addressId"));
            currentAddressList[0].value = addressMap.get("addressId");
            currentAddressList[1].value = addressMap.get("postCode");
            currentAddressList[2].value = addressMap.get("address");
            currentAddressList[3].value = addressMap.get("addressDetail");
            currentAddressList[4].value = addressMap.get("receiverName");
            currentAddressList[5].value = addressMap.get("receiverPhone");
            currentAddressList[6].value = addressMap.get("elevator");
            realAddressList[0].value = addressMap.get("addressId");
            realAddressList[1].value = addressMap.get("postCode");
            realAddressList[2].value = addressMap.get("address");
            realAddressList[3].value = addressMap.get("addressDetail");
            realAddressList[4].value = addressMap.get("receiverName");
            realAddressList[5].value = addressMap.get("receiverPhone");
            realAddressList[6].value = addressMap.get("elevator");
        }

        function validateForm(){
            const orderForm = document.forms["orderRegisterForm"]
            let postCode = orderForm["postCode"].value;
            if(postCode == ""){
                alert("배송지를 선택해 주세요.")
                return false;
            }else{
                confirm("상품들을 결제하시겠습니까?");
                requestPay(); // 결제 함수를 호출
                // return confirm("상품들을 결제하시겠습니까?");
            }
        }



        // 아임포트 결제 API
        const IMP = window.IMP;  // 아임포트 정의
        IMP.init("imp76481216"); // khs 아임포트 가맹점 식별코드 등록
        // 주문 등록 버튼(submit) 이벤트를 막고, 누르면 결제창으로 이동
        function requestPay() {
            const IMP = window.IMP;  // 아임포트 정의
            IMP.init("imp76481216"); // khs 아임포트 가맹점 식별코드 등록.
            let orderForm = document.forms["orderRegisterForm"];
            IMP.request_pay({
                pg: "html5_inicis",
                pay_method: "card",
                merchant_uid: orderForm.orderId.value,
                name: "결제 테스트(일정 기간 후 승인 취소됩니다.)", // name에는 주문의 무엇을 넘기면 좋을까요잉,,
                amount: 100,
                buyer_email: orderForm.userEmail.value,
                buyer_tel: orderForm.userPhone.value,
                buyer_name: orderForm.userName.value,
                buy_addr: orderForm.address.value + ", " + orderForm.addressDetail.value,
                buyer_postcode: orderForm.postCode.value,
            }, function (resp) { // callback
                if (resp.success) { // 결제 성공 시
                    console.log("결제가 완료되었습니다.");
                    orderForm.setAttribute("action","/order/user_yes/register.do"); // form의 action attribute에 url 지정
                    orderForm.submit(); // 제출
                } else {
                    alert("에러 메시지:" + resp.error_msg)
                }
            });
        }

    </script>

</div>

</html>