<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>주문 등록</title>
</head>
<div layout:fragment="content">
    <!--주문 form -->
    <form name="orderRegisterForm" enctype="multipart/form-data" action="/order/user_yes/register.do"
          method="post" onsubmit="return validateForm();">
        <!--주문 번호 생성-->
        <div>
            <label for="orderId"></label>
            <input type="text" id="orderId" name="orderId"
                   th:with="today=${#dates.format(#dates.createNow(), 'yyMMddmmss')}" th:value="${today}+${ranString}" readonly>
        </div>
        <!--배송지 입력란-->
        <fieldset>
            <legend>배송지 입력란</legend>
            <button type="button" name="setAddressBtn">새로운 배송지입력</button>
            <div th:if="${session.loginUser!=null}" id="newAddressRegisterContainer">
                <th:block th:include="/order/user/newAddress"></th:block>
            </div>
            <label for="myAddressList">다른 배송지</label>
            <select id="myAddressList" name="myAddressList" onchange="selectedAddress()">
                <option disabled selected="selected" th:text="'----선택-----'"></option>
                <th:block th:each="address:${addressList}">
                    <th:block th:if="${address.home == true}">
                        <option th:value="${address.addressId}" th:text="'기본:' + ${address}"
                                th:data-address="${address}"></option>
                    </th:block>
                    <th:block th:unless="${address.home == true}">
                        <option th:value="${address.addressId}" th:text="${address}" th:data-address="${address}"></option>
                    </th:block>
                </th:block>
            </select>
            <input type="hidden" id="addressId" name="addressId" class="add">
            <div>
                <label for="postCode">우편 번호</label>
                <input type="text" id="postCode" name="postCode" class="add" readonly th:required="required" >
            </div>
            <div>
                <label for="address">주소</label>
                <input type="text" id="address" name="address" class="add" readonly th:required="required">
            </div>
            <div>
                <label for="addressDetail">상세 주소</label>
                <input type="text" id="addressDetail" name="addressDetail" class="add" readonly th:required="required">
            </div>
            <div>
                <label for="receiverName">수령인 이름</label>
                <input type="text" id="receiverName" name="receiverName" class="add" readonly th:required="required">
            </div>
            <div>
                <label for="receiverPhone">수령인 전화번호</label>
                <input type="text" id="receiverPhone" name="receiverPhone" class="add" readonly th:required="required">
            </div>
            <div>
                <label for="elevator">엘리베이터 유무</label>
                <input type="text" id="elevator" name="elevator" class="add" readonly th:required="required">
            </div>


        </fieldset>
        <!--배송지 입력란 end-->
        <div class="orderDetail">
            <!--주문할 상품 정보들-->
            <th:block th:each="cartItem:${cartList}">
                <input type="text" th:value="${cartItem.cartId}" name="cartItem" readonly>
            </th:block>
            <fieldset>
                <legend>카트 정보들</legend>
                <table>
                    <thead>
                    <th>카트아이디</th>
                    <th>상품 정보</th>
                    <th>수량</th>
                    <th>상품별 금액</th>
                    </thead>
                    <tbody>
                    <tr th:each="cart, stat :${cartList}">
                        <td th:text="|${stat.count}|"></td>
                        <td>
                            <img th:src="@{'/img/product/{file}'(file=${cart.imageList[1].imgPath})}"
                                 style="width: 50px; height:50px; object-fit: cover">

                            <input type="text" th:value="${cart.product.pname}" name="orderDetail.productCode"
                                   id="orderDetail.productCode" placeholder="productCode" readonly>
                            <input type="text" th:value="${cart.optionProduct.opname}" name="orderDetail.optionCode"
                                   id="orderDetail.optionCode" placeholder="optionCode" readonly>
                        </td>
                        <td><input type="number" th:value="${cart.cnt}" name="orderDetail.cnt" id="orderDetail.cnt"
                                   readonly></td>
                        <td>
                            <input type="number" th:value="${cart.optionProduct.price * cart.cnt}"
                                   name="orderDetail.totalPrice" id="orderDetail.totalPrice" readonly>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
            <!--주문할 상품 정보들 end--------->
            <!--총 결제 정보-->
            <fieldset>
                <legend>총 결제 정보</legend>
                <div>
                    <label for="totalCnt">상품 총 수량</label>
                    <input th:value="${#aggregates.sum(cartList.![cnt])}" type="text" name="totalCnt" id="totalCnt"
                           required readonly>
                </div>
                <div>
                    <label for="totalPrice">상품 총 가격</label>
                    <input type="text" th:value="${#aggregates.sum(cartList.![optionProduct.price * cnt])}"
                           name="totalPrice" id="totalPrice" required readonly>
                </div>
            </fieldset>
            <!--총 결제 정보 end-->
        </div>
        <!--주문자 정보-->
        <div class="user">
            <fieldset>
                <legend>주문자 정보</legend>
                <div>
                    <label for="userName">주문자 이름</label>
                    <input type="text" th:value="${loginUser.uname}" name="userName" id="userName" readonly>
                    <input type="hidden" th:value="${loginUser.userId}" name="userId" id="userId">
                </div>
                <div>
                    <label for="userPhone">주문자 전화번호</label>
                    <input type="text" th:value="${loginUser.phone}" name="userPhone" id="userPhone"
                           readonly>
                </div>
                <div>
                    <label for="userEmail">주문자 이메일</label>
                    <input type="text" th:value="${loginUser.email}" name="userEmail" id="userEmail"
                           readonly>
                </div>
            </fieldset>
        </div>
        <!--주문자 정보 end---------->
        <!--배송 정보(배송요청)-->
        <div class="delivery">
            <fieldset>
                <legend>배송 요청 사항</legend>
                <div>
                    <label for="delivery.request"></label>
                    <textarea rows="5" cols="30" name="delivery.request" id="delivery.request"
                              placeholder="ex) 문앞에 두고 가주세요~!"></textarea>
                </div>
            </fieldset>
        </div>
        <!--배송 정보(배송요청) end-->
        <!--대표 주문 사진 정하기-->
        <input type="hidden" th:value="${cartList[0].imageList[0].imgPath}" name="imgPath"
               id="imgPath" placeholder="imgPath" readonly>
        <!--대표 주문 사진 정하기 end----------------------------->
        <button type="submit">제출</button>
    </form>
    <!--주문 form end---------------->
    <script th:inline="javascript">
        const currentAddressList = document.querySelectorAll(".add");
        function selectedAddress(){
            let addressSlt = document.getElementById("myAddressList");
            // document.getElementById("addressId").value = addressSlt.options[addressSlt.selectedIndex].value;
            //console.log(addressSlt.options[addressSlt.selectedIndex].dataset.address, typeof(addressSlt.options[addressSlt.selectedIndex].dataset.address) );
            let address = addressSlt.options[addressSlt.selectedIndex].dataset.address.split("(")[1].split(")")[0].split(",");
            let addressMap = new Map();
            for (let add of address){
                let splitAdd = add.split("=");
                console.log(splitAdd);
                addressMap.set(splitAdd[0].trim(),splitAdd[1]);
            }
            console.log(addressMap);
            console.log(addressMap.get("addressId"));
            currentAddressList[0].value = addressMap.get("addressId");
            currentAddressList[1].value = addressMap.get("postCode");
            currentAddressList[2].value = addressMap.get("address");
            currentAddressList[3].value = addressMap.get("addressDetail");
            currentAddressList[4].value = addressMap.get("receiverName");
            currentAddressList[5].value = addressMap.get("receiverPhone");
            currentAddressList[6].value = addressMap.get("elevator");
        }

        function validateForm(){
            const orderForm = document.forms["orderRegisterForm"]
            let postCode = orderForm["postCode"].value;
            if(postCode == ""){
                alert("배송지를 선택해 주세요.")
                return false;
            }else{
                return confirm("상품들을 결제하시겠습니까?")
            }
        }

        function init(){
            const newAddressRegisterForm = document.forms["newAddressRegisterForm"];
            newAddressRegisterForm.onsubmit=function(e){
                registerAddress(e, newAddressRegisterForm);
            }
        }
        init();
        async function registerAddress(e, newAddressRegisterForm){
            e.preventDefault();
            let url="/order/user_yes/addressRegister.do";
            const formData = new FormData(newAddressRegisterForm);
            const resp = await fetch(url,{method:"POST",body:formData});
            const json = await resp.json();
            console.log("json: "+json);
            if(json.state==1){
                await showNewAddress();
            }
        }
        async function showNewAddress(){
            console.log("새로운 주소 보여주자.")

        }




    </script>

</div>

</html>