<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form name="replyRegisterForm" action="/reply/register.do" method="post">
  <input type="hidden" name="commId" th:value="${commId}">
  <input type="hidden" name="fkReplyId">
  <input type="hidden" name="userId" th:value="${session.loginUser.userId}">
  <div class="mb-4" >
    <div class="row">
      <div class="col-1">
        <i class="bi bi-person-circle col-2" style="font-size: 28px; color: #B68C68"></i>
      </div>
      <div class="col-11 mt-1">
        <input type="text" class="form-control col-10" name="content" id="exampleFormControlInput1" placeholder="칭찬과 격려는 작성자에게 큰 힘이 됩니다:)">
      </div>
    </div>
    <div class="d-flex justify-content-end mt-2">
      <button type="reset" class="btn border" style="background-color: #FFFAF5; color: #B68C68;">초기화</button>
      <button type="submit" class="btn border ms-2" style="background-color: #FFFAF5; color: #B68C68;">등록</button>
    </div>
  </div>

</form>
</html>