<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
    <form action="/product/admin/product_list.do">
        <fieldset>
            <legend>상품 검색</legend>
            <input type="text" name="searchWord" th:value="${searchWord}">
            <button type="submit">검색</button>
        </fieldset>
        <fieldset id="categoryCheck">
            <div>
                <h3>대분류</h3>
                <div>
                    <th:block th:each="category:${levelOne}">
                        <input type="checkbox" name="categoryId" th:id="${category.key}" th:value="${category.key}">
                        <label th:for="${category.key}" th:text="${category.value}"></label>
                    </th:block>
                </div>
            </div>
            <div>
                <h3>중분류</h3>
                <div>
                    <th:block th:each="category:${levelTwo}">
                        <input type="checkbox" name="categoryId" th:id="${category.key}" th:value="${category.key}">
                        <label th:for="${category.key}" th:text="${category.value}"></label>
                    </th:block>
                </div>
            </div>
            <div>
                <h3>소분류</h3>
                <div>
                    <th:block th:each="category:${levelThree}">
                        <input type="checkbox" name="categoryId" th:id="${category.key}" th:value="${category.key}">
                        <label th:for="${category.key}" th:text="${category.value}"></label>
                    </th:block>
                </div>
            </div>
        </fieldset>
        <fieldset id="detCheckBox">
            <legend>상품 상태</legend>
            <th:block th:each="det:${detDict}">
                <input type="checkbox" name="catDet" th:id="${det.key}" th:value="${det.key}">
                <label th:for="${det.key}" th:text="${det.value}"></label>
            </th:block>
        </fieldset>
        <button type="submit">찾기</button>
    </form>
    <div id="table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No.</th>
                <th>상품 코드</th>
                <th>상품명</th>
                <th>판매처</th>
                <th>옵션</th>
                <th>수량</th>
                <th>공급가</th>
                <th>판매가</th>
                <th>상태</th>
                <th>수정일</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="product, num : ${productList}" th:if="${!productList.isEmpty()}">
                <tr>
                    <td th:text="${num.count}"></td>
                    <td th:text="${product.productCode}"></td>
                    <td><a th:href="@{'/product/admin/{productCode}/modify.do'(productCode=${product.productCode})}"
                           th:text="${product.pname}"></a></td>
                    <td th:text="${product.place}"></td>
                    <td>
                        <label>
                            <select th:id="${product.productCode}" class="form-control">
                                <th:block th:each="option:${product.optionProductList}">
                                    <option th:value="${option.stock}" th:text="${option.opname}"></option>
                                </th:block>
                            </select>
                        </label>
                    </td>
                    <td th:text="${product.optionProductList[0].stock}" th:id="${product.productCode+'_stock'}"></td>
                    <td th:text="${product.supplyPc}"></td>
                    <td th:text="${product.salesPc}"></td>
                    <td th:text="${detDict[product.PDet]}"></td>
                    <td th:text="${#dates.format(product.modDate, 'yyyy-MM-dd')}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <p th:if="${productList.isEmpty()}" class="text-center">해당 조건을 충족하는 상품이 존재하지 않습니다.</p>
    </div>
    <th:block th:if="${!productList.isEmpty()}">
        <!--페이지네이션-->
        <nav aria-label="Page navigation example" class="pt-3">
            <ul class="pagination d-flex justify-content-center">
                <li class="page-item" th:classappend="${(!paging.prev)?'disabled text-black-50':''}">
                    <a class="page-link text-black-50" aria-label="Previous" th:href="@{${paging.queryString}(page=${paging.prevPage})}"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <th:block th:if="${paging.startPage>1}">
                    <li class="page-item">
                        <a class="page-link"  th:href="@{${paging.queryString}(page=1)}" style="color: #B68C68">1</a>
                    </li>
                    <li class="page-item"><span>...</span></li>
                </th:block>

                <li class="page-item" th:each="i : ${#numbers.sequence(paging.startPage,paging.endPage)}"
                    th:classappend="${(i==paging.page)?'disaled':''}">
                    <a class="page-link" style="color: #B68C68" th:classappend="${(i==paging.page)?'fw-bold':''}"
                       th:href="@{${paging.queryString}(page=${i})}" th:text="${i}"></a>
                </li>
                <th:block th:if="${paging.endPage<paging.totalPages}">
                    <li class="page-item"><span>...</span></li>
                    <li>
                        <a class="page-link" th:href="@{${paging.queryString}(page=${paging.totalPages})}"
                           th:text="${paging.totalPages}" style="color: #B68C68"></a>
                    </li>
                </th:block>

                <li class="page-item" th:classappend="${(!paging.next)?'disabled':''}">
                    <a class="page-link text-black-50" th:href="@{${paging.queryString}(page=${paging.nextPage})}" aria-label="Next" ><span aria-hidden="true">&raquo;</span></a>
                </li>
            </ul>
        </nav>
        <!--페이지네이션end-->
    </th:block>


    <script th:inline="javascript">
        console.log("[[${paging.startPage}]]");
        console.log("[[${paging.endPage}]]");
        const table = document.getElementById("table");
        const selects = table.querySelectorAll("select");
        selects.forEach(select => {
            select.onclick = () => getValue(select.id);
        });

        function getValue(id) {
            const select = document.getElementById(id);
            const value = document.getElementById(id + "_stock");
            value.innerText = select.value;
        }

        const catDetList = [[${catDetList}]];
        const checkField = document.getElementById("detCheckBox");
        const checkboxes = checkField.querySelectorAll("input[type=checkbox]");
        if (catDetList != null) {
            catDetList.forEach(value => {
                checkboxes.forEach(checkbox => {
                    if (checkbox.value === value) {
                        checkbox.setAttribute("checked", "true");
                    }
                });
            });
        }

        const cateCheckField = document.getElementById("categoryCheck");
        const cateCheckBoxes = cateCheckField.querySelectorAll("input[type=checkbox]");
        const categoryIdList = [[${categoryIdList}]];

        if (categoryIdList != null) {
            categoryIdList.forEach(value => {
                cateCheckBoxes.forEach(checkbox => {
                    if (checkbox.value === value) {
                        checkbox.setAttribute("checked", "true");
                    }
                });
            });
        }
    </script>

</div>
</html>