<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="'GAGOODA '+${category.cname}"></title>
    <link rel="stylesheet" href="/css/star_rate.css">
    <script src="/js/star_rate.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/3a45d8e733.js" crossorigin="anonymous"></script>
</head>
<div layout:fragment="content">
    <div class="container">
        <h5 th:if="${parentCategory != null}" class="text-center mt-3">
            <a th:href="@{'/product/{categoryId}/list.do'(categoryId=${parentCategory.categoryId})}"
               th:text="${parentCategory.cname}"
               class="page-link" style="color: #B68C68; font-size: 16px;"></a>
        </h5>
        <h1 th:text="${category.cname}" class="text-center my-3"></h1>
        <ul th:if="${childList != null and !childList.isEmpty()}"
            class="nav nav-tabs justify-content-center gap-3">
            <li th:if="${realCategoryId.length() > 1}" class="nav-item">
                <a th:if="${realCategoryId.equals(category.categoryId)}"
                   th:href="@{'/product/{categoryId}/list.do'(categoryId=${category.categoryId})}"
                   class="nav-link active" aria-current="page">전체</a>
                <a th:unless="${realCategoryId.equals(category.categoryId)}"
                   th:href="@{'/product/{categoryId}/list.do'(categoryId=${category.categoryId})}"
                   class="nav-link" style="color: #B68C68;">전체</a>
            </li>
            <li th:each="child:${childList}" class="nav-item">
                <a th:href="@{'/product/{categoryId}/list.do'(categoryId=${child.categoryId})}"
                   th:text="${child.cname}" th:if="${realCategoryId.equals(child.categoryId)}"
                   class="nav-link active" aria-current="page"></a>
                <a th:href="@{'/product/{categoryId}/list.do'(categoryId=${child.categoryId})}"
                   th:text="${child.cname}" th:unless="${realCategoryId.equals(child.categoryId)}"
                   class="nav-link" style="color: #B68C68;"></a>
            </li>
        </ul>
        <div class="container mt-4">
            <!--            <div class="row row-cols-1 row-cols-md-2 gap-5 g-4 d-flex justify-content-center mb-5"-->
            <!--                 th:each="productList:${productListList}">-->
            <div class="row row-cols-1 row-cols-md-2 gap-5 g-4 d-flex justify-content-center mb-5">
                <div class="col mb-3 card border border-0 position-relative"
                     style="width: 280px; padding: 0;" th:each="product:${productList}">
                    <div class="position-absolute d-flex justify-content-center align-items-center"
                         style="top:5px; right: 5px;" th:id="'zzimBox'+${product.productCode}">
                        <th:block th:include="~{/zzim/register}"></th:block>
                    </div>
                    <a th:href="@{'/product/{productCode}/detail.do'(productCode=${product.productCode})}"
                       style="text-decoration: none; color: black">
                        <img th:src="@{'/img/product/{imgPath}'(imgPath=${product.imageList[0].getImgPath()})}"
                             class="card-img-top rounded mb-3">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="star-ratings" style="font-size: 24px;">
                                    <div class="fill-ratings"
                                         th:style="'width:'+${product.avgRate/5*100}+'%;'">
                                        <span>★★★★★</span>
                                    </div>
                                    <div class="empty-ratings">
                                        <span>★★★★★</span>
                                    </div>
                                </div>
                                <span th:text="'('+${product.reviewCnt}+')'"></span>
                            </div>
                            <p class="mt-0 card-title text-nowrap overflow-hidden fw-bold"
                               th:text="${product.pname}"></p>
                            <p class="card-text mb-2" th:text="${product.salesPc}+'원'" style="color: #e74444"></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <th:block th:include="~{pagination}"></th:block>
    </div>
    <script th:inline="javascript">
        function init() {
            const zzimForms = document.querySelectorAll(".zzimForm");
            zzimForms.forEach(zzimForm=> {
                zzimForm.onsubmit = function(e) {
                    registerZzim(e, zzimForm);
                };
            })
        }
        init();

        async  function removeZzim(zzimId, productCode) {
            let url = "/zzim/user_yes/mypage/delete.do?zzimId="+zzimId;
            const resp = await fetch(url, {method:"DELETE"});
            if (resp.status ===200) {
                const json = await resp.json();
                if (json === 1) {
                    await loadZzim(productCode);
                } else {
                    alert("취소 중 오류가 발생하였습니다.");
                }
            } else {
                alert(`200 아닌 오류 발생 (${resp.status})`) ;
            }
        }
        async function registerZzim(e, zzimForm) {
            e.preventDefault();
            let url = "/zzim/user_yes/mypage/register.do";
            const formData = new FormData(zzimForm);
            const resp = await fetch(url, {method:"POST",body: formData});
            const json = await resp.json();
            console.log(json);
            if (json === 1) {
                await loadZzim(zzimForm["productCode"].value);
            }
        }

        async function loadZzim(productCode) {
            const url = "/zzim/user_yes/show.do?productCode=" + productCode;
            const resp = await fetch(url);
            const html = await resp.text();
            document.getElementById("zzimBox"+productCode).innerHTML = html;
            init();
        }

    </script>
</div>
</html>