<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
<th:block th:each="categoryConn:${categoryConnList}">
    <a th:href="@{'/product/{productCode}/detail.do'(productCode=${categoryConn.product.getProductCode()})}">
        <div>
            <img th:src="@{'/img/product/{file}'(file=${categoryConn.product.getImgCode()+'_0.png'})}"
                 style="width: 200px; height: 200px; object-fit: cover;">
        </div>
        <p th:text="${categoryConn.product.getProductCode()}"></p>
        <p th:text="${categoryConn.product.getPname()}"></p>
        <p th:text="${categoryConn.product.getSalesPc()}"></p>
    </a>
</th:block>
</div>
</html>