<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.productCode}+' 상품 수정'"></title>
</head>
<div layout:fragment="content">
    <form th:action="@{'/product/admin/{productCode}/modify.do'(productCode=${product.productCode})}"
          enctype="multipart/form-data"
          method="post"
          name="productForm"
          id="productForm">
        <label for="productCode">상품 코드:</label>
        <input type="text" id="productCode" name="productCode"
               th:value="${product.productCode}" required readonly>
        <br>
        <label for="pDet">상품 상태:</label>
        <select name="pDet" id="pDet" required>
            <th:block th:each="det : ${productDet}">
                <option th:if="${det.detCode.equals(product.PDet)}"
                        th:value="${det.detCode}" th:text="${det.detName}" selected></option>
                <option th:unless="${det.detCode.equals(product.PDet)}"
                        th:value="${det.detCode}" th:text="${det.detName}"></option>
            </th:block>
        </select>
        <br>
        <label for="name">상품명:</label>
        <input type="text" id="name" name="pname" required th:value="${product.pname}">
        <br>
        <label for="place">판매처:</label>
        <input type="text" id="place" name="place" required th:value="${product.place}">
        <br>
        <label for="supplyPc">공급 가격:</label>
        <input type="number" id="supplyPc" name="supplyPc" required th:value="${product.supplyPc}">
        <br>
        <label for="salesPc">판매 가격:</label>
        <input type="number" id="salesPc" name="salesPc" required th:value="${product.salesPc}">
        <br>
        <label for="deliveryPc">배송 가격:</label>
        <input type="number" id="deliveryPc" name="deliveryPc" required th:value="${product.deliveryPc}">
        <br>
        <label for="rot">과세율:</label>
        <input type="text" id="rot" name="rot" required th:value="${product.rot}">
        <br>
        <label for="rot">마진율:</label>
        <input type="text" id="margin" name="margin" th:value="${product.margin}">
        <br>
        <fieldset class="already-images">
            <legend>기존 상품 사진</legend>
            <th:block th:if="${product.imageList != null}"
                      th:each="image, num:${product.imageList}">
                <div th:id="${image.imgCode}+${num.count}" class="imageEx">
                    <label>
                        <input type="checkbox" name="imgToDelete" th:value="${image.imgCode}+'/'+${image.seq}">
                        <img style="width: 100px;height: 100px;"
                             th:src="@{'/img/product/{imgPath}'(imgPath=${image.imgPath})}" alt="Avatar">
                    </label>
                </div>
            </th:block>
        </fieldset>
        <fieldset class="images">
            <legend>추가 할 상품 사진</legend>
        </fieldset>
        <button type="button" name="moreImg">상품 이미지 추가</button>
        <fieldset class="already-infoimages">
            <legend>기존 상품 정보 사진</legend>
            <th:block th:if="${product.infoImageList != null}"
                      th:each="image:${product.infoImageList}">
                <div th:id="${image.imgCode}+${num.count}" class="infoImageEx">
                    <label>
                        <input type="checkbox" name="imgToDelete" th:value="${image.imgCode}+'/'+${image.seq}">
                        <img style="width: 100px;height: 100px;"
                             th:src="@{'/img/product/{imgPath}'(imgPath=${image.imgPath})}" alt="Avatar">
                    </label>
                </div>
            </th:block>
        </fieldset>
        <fieldset class="infoImages">
            <legend>추가 할 상품 정보 사진</legend>
        </fieldset>
        <button type="button" name="moreInfoImg">상세 정보 추가</button>
        <br>
        <div class="option-products">
            <th:block th:each="option, num:${product.optionProductList}">
                <fieldset class="updateProduct">
                    <label>
                        <legend>기존 옵션</legend>
                        삭제?
                        <input type="checkbox" name="optionToDelete" th:value="${option.optionCode}">
                    </label>
                    <input type="hidden" th:name="'optionUpdateList['+${num.index}+'].productCode'"
                           th:value="${option.productCode}">
                    <input type="hidden" th:name="'optionUpdateList['+${num.index}+'].price'"
                           th:value="${option.price}">
                    <div>
                        <label for="optionCode">옵션 코드:</label>
                        <input type="text" id="optionCode"
                               th:name="'optionUpdateList['+${num.index}+'].optionCode'"
                               required readonly th:value="${option.optionCode}">
                    </div>
                    <div>
                        <label for="optionName">옵션 상품명:</label>
                        <input type="text" name="" id="optionName" required
                               th:name="'optionUpdateList['+${num.index}+'].opname'"
                               th:value="${option.opname}">
                    </div>
                    <div>
                        <label for="optionStock">옵션 상품 재고:</label>
                        <input type="number" th:name="'optionUpdateList['+${num.index}+'].stock'"
                               id="optionStock" required th:value="${option.stock}">
                    </div>
                </fieldset>
            </th:block>
        </div>
        <br>
        <button type="button" name="moreOptBtn">옵션추가</button>
        <br>
        <h1>카테고리</h1>
        <fieldset name="existedCategoryContainer">
            <legen>기존 카테고리</legen>
            <h4>삭제 할 카테고리는 체크를 헤제 주세요</h4>
            <th:block th:each="categoryConn:${categoryConnList}">
                <div th:id="${categoryConn.categoryId}+'existed'">
                    <label>
                        <input type="checkbox" name="category"
                                  th:value="${categoryConn.categoryId}" checked>
                        <th:block th:text="${categoryConn.category.cname}+' ('+${categoryConn.categoryId}+')'"></th:block>
                    </label>
                </div>
            </th:block>
        </fieldset>
        <fieldset class="categoryContainer" id="conn1">
        </fieldset>
        <button type="button" name="moreCategory" onclick="addCategory()">분류 추가</button>
        <br>
        <button type="submit">제출</button>
    </form>
    <script th:inline="javascript">
        const productForm = document.forms["productForm"];
        const moreOptBtn = productForm["moreOptBtn"];
        const moreImg = productForm["moreImg"];
        const moreInfoImg = productForm["moreInfoImg"];
        const images = productForm.querySelector(".images");
        const infoImages = productForm.querySelector(".infoImages");
        const optionProducts = productForm.querySelector(".option-products");
        const categoryContainer = productForm.querySelector(".categoryContainer");

        let categoryNum = 1;

        function addCategory() {
            categoryNum++;
            const div = document.createElement("div");
            div.classList.add("categories");
            div.id = "categoryFieldSet" + categoryNum;

            html = `<label>대분류: `;
            let level1 = [[${levelOne}]];
            html += `<select name="category" onchange="levelTwo(${categoryNum})" required id="levelOne${categoryNum}">`;
            html += `<option style="display: none;"></option>`;
            level1.forEach(category => {
                html += `<option value="${category.categoryId}">
                        ${category.cname} (${category.categoryId})</option>`;
            })
            html += `</select></label>`;
            html += `\n<label>중분류: `;
            let level2 = [[${levelTwo}]];
            html += `<select name="category" onchange="levelThree(${categoryNum})" required id="levelTwo${categoryNum}">`;
            html += `<option style="display: none;"></option>`;
            level2.forEach(category => {
                html += `<option value="${category.categoryId}"
                                style="display: none;">
                        ${category.cname} (${category.categoryId})</option>`;
            })
            html += `</select></label>`;
            html += `\n<label>소분류: `;
            let level3 = [[${levelThree}]];
            html += `<select name="category" id="levelThree${categoryNum}">`;
            html += `<option style="display: none;"></option>`;
            level3.forEach(category => {
                html += `<option value="${category.categoryId}"
                                style="display: none;">
                        ${category.cname} (${category.categoryId})</option>`;
            });
            html += `</select></label>`;
            html += `<button type="button"
                        onclick="document.getElementById('categoryFieldSet${categoryNum}').remove()">
                            삭제</button>`;

            div.innerHTML = html;
            categoryContainer.append(div);
        }

        function resetSelect(options) {
            options.forEach(option => {
                option.setAttribute("style", "display:none;");
                option.selected = false;
            });
        }

        function levelTwo(num) {
            console.log(num);
            const level2 = document.getElementById("levelTwo" + num);
            const options = level2.querySelectorAll("option");
            const level3 = document.getElementById("levelThree" + num);
            const options2 = level3.querySelectorAll("option");

            resetSelect(options);
            resetSelect(options2);

            const level1Val = Number($("#levelOne" + num).val());
            console.log("level1Val: " + level1Val);
            options.forEach(option => {
                let val = Number(option.value) / 10;
                if (Math.trunc(val) === level1Val) {
                    option.setAttribute("style", "");
                }
            });
        }

        function levelThree(num) {
            const level3 = document.getElementById("levelThree" + num);
            const options = level3.querySelectorAll("option");
            resetSelect(options);

            const level2Val = Number($("#levelTwo" + num).val());
            console.log("level2Val: " + level2Val);
            options.forEach(option => {
                let val = Number(option.value) / 10;
                if (Math.trunc(val) === level2Val) {
                    option.setAttribute("style", "");
                }
            });
        }


        let imgNum = 0;
        moreImg.onclick = (e) => {
            const fieldset = document.createElement("div");
            fieldset.id = "img" + imgNum;
            fieldset.innerHTML = `
            <label for="image">이미지:</label>
            <input type="file" id="image" name="imageFile">
            <button type="button" onclick="document.getElementById('img${imgNum}').remove()">삭제</button>
        `;

            images.append(fieldset);
        }

        moreInfoImg.onclick = (e) => {
            const fieldset = document.createElement("fieldset");
            fieldset.id = "infoImg" + imgNum;
            fieldset.innerHTML = `
            <label for="infoImages">상세 정보 이미지:</label>
            <input type="file" id="infoImages" name="infoImageFile">
            <button type="button" onclick="document.getElementById('infoImg${imgNum}').remove()">삭제</button>
        `;
            infoImages.append(fieldset);
        }

        let i = 1;
        moreOptBtn.onclick = (e) => {
            const fieldset = document.createElement("fieldset");
            fieldset.classList.add("optionProduct");
            fieldset.id = "optionProduct" + i;

            fieldset.innerHTML = `
            <legend>옵션</legend>
            <input type="hidden" name="" class="productCode">
            <input type="hidden" name="" class="optionPrice">
            <div>
                <label for="optionCode">옵션 코드:</label>
                <input type="text" id="optionCode" name="" class="optionCode" required="">
            </div>
            <div>
                <label for="optionName">옵션 상품명:</label>
                <input type="text" name="" id="optionName" class="optionName" required="">
            </div>
            <div>
                <label for="optionStock">옵션 상품 제고:</label>
                <input type="number" name="" id="optionStock" class="optionStock" required="">
            </div>
            <button type="button" onclick="nameset();
                document.getElementById('optionProduct${i}').remove();">삭제</button>
        `;
            optionProducts.append(fieldset);
            i++;
        }

        productForm.onsubmit = (e) => {
            nameset();
        }

        function nameset() {
            const options = document.querySelectorAll(".optionProduct");
            let j = 0;
            options.forEach(option => {
                const productCode = option.querySelector(".productCode");
                const optionPrice = option.querySelector(".optionPrice");
                const optionCode = option.querySelector(".optionCode");
                const optionName = option.querySelector(".optionName");
                const optionStock = option.querySelector(".optionStock");
                productCode.setAttribute("value", productForm["productCode"].value);
                optionPrice.setAttribute("value", productForm["salesPc"].value);

                productCode.setAttribute("name", `optionProductList[${j}].productCode`);
                optionPrice.setAttribute("name", `optionProductList[${j}].price`);
                optionCode.setAttribute("name", `optionProductList[${j}].optionCode`);
                optionName.setAttribute("name", `optionProductList[${j}].opname`);
                optionStock.setAttribute("name", `optionProductList[${j}].stock`);
                j++;
            });
        }
    </script>
</div>
</html>