<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
</head>
<div layout:fragment="content">
<form th:action="'/user/password_reset.do'" method="post">
    <input type="hidden" name="userId" th:value="${userId}">
    <div>
        <label for="pw">비밀번호</label>
        <input type="password" name="pw" id="pw" required>
    </div>
    <div>
        <label for="pw_check">비밀번호 확인</label>
        <input type="password" name="pw_check" id="pw_check" required>
    </div>
    <button type="submit">재설정</button>
    <a href="/">취소</a>
</form>
</div>
</html>