<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
</head>
<div layout:fragment="content">
    <form th:action="'/user/password_reset.do'" method="post" class="container mt-5"
          style="width: 40%; margin-bottom: 200px" name="resetPwForm">
        <input type="hidden" name="userId" th:value="${userId}">

        <div class="mx-auto">
            <img th:src="@{'/html_img/LOGO_BG.png'}" class="d-block mx-auto mb-5" style="width: 240px">
        </div>

        <div class="mb-3">
            <label for="pw" class="form-label">비밀번호</label>
            <input type="password" class="form-control form-control-lg" id="pw" name="pw" required>
        </div>
        <div class="mt-0 mb-2">
            <ul>
                <li style="font-size: 12px; color: #3b3b3b;">비밀번호 길이는 최소 8자 이상이어야 합니다.</li>
            </ul>
        </div>
        <div class="mb-3">
            <label for="check" class="form-label">비밀번호 확인</label>
            <input type="password" class="form-control form-control-lg" id="check" name="check" required>
        </div>
        <div class="mt-0 mb-2">
            <span id="pwCheckMsg"></span>
        </div>
        <div class="mb-3">
            <input type="submit" class="form-control form-control-lg text-white my-5" value="재설정"
                   style="background-color: #B68C68;">
        </div>
    </form>
    <script>
        const resetPwForm = document.forms["resetPwForm"];
        const pw = resetPwForm["pw"];
        const check = resetPwForm["check"];
        resetPwForm.onsubmit = (e) => {
            if (!pwcheck()) {
                e.preventDefault();
                alert("비밀번호가 올바르지 않습니다.");
            }
            if (uname.value === "" || phone.value === "") {
                e.preventDefault();
                alert("본인인증을 먼저 진행해 주세요.");
            }
        }

        pw.addEventListener("change", (e) => {
            pwcheck()
        });
        check.addEventListener("change", (e) => {
            pwcheck()
        });

        function pwcheck() {
            const pwCheckMsg = document.getElementById("pwCheckMsg");
            if (pw.value === "") {
                pwCheckMsg.innerText = "";
            } else if (pw.value.length < 8) {
                pwCheckMsg.innerText = "비밀번호가 너무 짧습니다.";
                pwCheckMsg.setAttribute("style", "color: #e53b3b;");
            } else if (pw.value !== check.value) {
                pwCheckMsg.innerText = "비밀번호가 일치하지 않습니다.";
                pwCheckMsg.setAttribute("style", "color: #e53b3b;");
            } else {
                pwCheckMsg.innerText = "비밀번호가 일치합니다.";
                pwCheckMsg.setAttribute("style", "color: #0f9105;");
                return true;
            }
            return false;
        }
    </script>
</div>
</html>