<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .basic_img {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<div layout:fragment="content">

    <form action="/review/user_yes/modify.do" method="post" enctype="multipart/form-data">
        <input type="hidden" name="reviewId" th:value="${review.reviewId}">
        <h2 class="text-center mb-5">리뷰 수정</h2>
        <div class="mx-auto" style="width: 50%">
            <input type="hidden" name="userId" th:value="${session.loginUser.userId}">
            <div class="mb-3">
                <label for="productName" class="form-label">상품명</label>
                <th:block th:each="optionProduct:${optionProductList}">
                    <input type="text" class="form-control" id="productName" th:value="${optionProduct.getOpname()}" readonly>
                </th:block>
            </div>
            <div class="mb-3">
                <label for="rate" class="form-label">평점</label>
                <input type="number" min="1" max="5" step="1" maxlength="1" class="form-control" name="rate" th:value="${review.rate}" id="rate" required placeholder="1~5점을 주세요 !">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" name="content" th:value="${review.content}" th:text="${review.content}" id="content" cols="30" rows="3" required></textarea>
            </div>
            <div class="mb-3">
                <label for="imgFile">이미지 첨부</label>
                <input multiple="multiple" type="file" class="form-control" name="imgFile" id="imgFile">
                <div>
                    <th:block th:each="img:${review.imgList}">
                        <label>
                            <input type="checkbox" name="imgToDelete" th:value="${img.imgCode}+'/'+${img.seq}">
                            <img class="basic_img" th:src="@{'/img/review/{file}'(file=${img.imgPath})}" alt="">
                        </label>
                    </th:block>
                </div>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">등록</button>
            </div>
        </div>
    </form>
</div>
</html>